# McDonald's Basket Data Analysis - v1: Toshiba card tokens
## April 2018
### Dr Jose M Albornoz

This notebook explores basket data corresponding to September, October and November 2017 for stores in Exeter, matching it with card data for the same period and the same store. We examine only Toshiba card tokens in this notebook. The basket data timestamps are grouped into 15-minutes periods, unlike the card data timestamps.

# 1.- Import necessary modules, define SQLContext

In [76]:
# Import required modules
from pyspark.context import SparkContext
from pyspark.sql.context import SQLContext
from pyspark.sql.functions import *
from pyspark.sql.functions import col
from pyspark.sql.types import *
from pyspark.sql.functions import unix_timestamp
import math

In [2]:
# Define SQLContext
sqlContext = SQLContext(sc)

# 2.- Generic functions to load data from a text-based file

In [3]:
# a function to load a colon-separated value file
def load_data_colon(filename, schema, columns = None):
    df = sqlContext.read.format('com.databricks.spark.csv').option("delimiter", ";").options(header='true'). \
    load(filename, schema = schema)
    if columns is None:
        # If no columns are given, then select all
        columns = schema.names
    return df.select(columns)

In [4]:
# a function to load a pipe-separated value file
def load_data_pipe(filename, schema, columns = None):
    df = sqlContext.read.format('com.databricks.spark.csv').option("delimiter", "|").options(header='false'). \
    load(filename, schema = schema)
    if columns is None:
        # If no columns are given, then select all
        columns = schema.names
    return df.select(columns)

# 3.- Schema for card data files

In [5]:
schema_card = StructType([ 
    StructField('store_number', IntegerType(), True), 
    StructField('terminal_number', IntegerType(), True), 
    StructField('transaction_date', StringType(), True), 
    StructField('transaction_time', IntegerType(), True), 
    StructField('transaction_amount', FloatType(), True),
    StructField('card_scheme', StringType(), True),
    StructField('pan_token', StringType(), True),
    StructField('empty_field', IntegerType(), True)    
])

# 4.- Schema for basket data files

In [6]:
schema_basket = StructType([ 
    StructField('store_number', StringType(), True), 
    StructField('time_period', StringType(), True), 
    StructField('time_of_day', StringType(), True), 
    StructField('business_date', StringType(), True), 
    StructField('pos_code', StringType(), True),
    StructField('c6', StringType(), True),
    StructField('total_cost', StringType(), True),
    StructField('unit_cost', StringType(), True),
    StructField('quantity', StringType(), True), 
    StructField('food_cost', StringType(), True), 
    StructField('paper_cost', StringType(), True), 
    StructField('hour', StringType(), True), 
    StructField('transaction_time', StringType(), True), 
    StructField('transaction_date', StringType(), True),
    StructField('pos_id', StringType(), True),
    StructField('unique_till_code', StringType(), True),
    StructField('sale_number', StringType(), True),
    StructField('menu_item_id', StringType(), True), 
    StructField('till_key', StringType(), True), 
    StructField('till_location', StringType(), True), 
    StructField('c20', StringType(), True), 
    StructField('sale_or_refund', StringType(), True),
    StructField('eatin_eatout', StringType(), True),
    StructField('eat_in_eatout_str', StringType(), True),
    StructField('payment_type_id', StringType(), True),
    StructField('payment_type', StringType(), True) 
])

# 5.- Basket data preprocessing

## 5.1.- Load basket data

In [7]:
df_basket = load_data_pipe("BasketDataExeter2SeptOctNov/000", schema_basket)

In [8]:
df_basket.show(10)

+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+-------------------+----------------+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+
|store_number|time_period|time_of_day|business_date|pos_code|  c6|total_cost|unit_cost|quantity|food_cost|paper_cost|hour|   transaction_time|transaction_date|           pos_id|unique_till_code|sale_number|menu_item_id|till_key|till_location|c20|sale_or_refund|eatin_eatout|eat_in_eatout_str|payment_type_id|payment_type|
+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+-------------------+----------------+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+
|         295|          3|  Afternoon|   2017-10-14|       2|null|    0.0000|   0.0000|       1|   0.0000|    0.0000|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|         10|        4650|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    3.1000|   3.1000|       1|   0.7784|    0.0385|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|         12|        6120|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    0.0000|   0.0000|       1|   0.0000|    0.0000|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          8|        2619|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    0.6800|   0.6800|       1|   0.0000|    0.0000|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          9|        2828|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    0.0000|   0.0000|       1|   0.0000|    0.0000|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          7|        4834|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    1.3900|   1.3900|       1|   0.2682|    0.0378|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          5|        4381|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    0.0000|   0.0000|       1|   0.0000|    0.0000|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          3|        4912|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    0.7400|   0.7400|       1|   0.2333|    0.0063|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          4|        1000|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|    1.0800|   1.0800|       1|   0.3141|    0.0221|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          1|        2823|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|   -0.8000|  -0.8000|       1|   0.0000|    0.0000|  16|1900-01-01 16:45:00|      2017-10-14|POS0002:595657242|       595657242|          6|        1265|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+-------------------+----------------+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+
only showing top 10 rows

In [9]:
df_basket.count()

1546161

## 5.2.- Cast basket data columns to the correct types

In [10]:
df_basket = df_basket.withColumn("store_number", df_basket["store_number"].cast(IntegerType()))        
df_basket = df_basket.withColumn("time_period", df_basket["time_period"].cast(IntegerType()))
df_basket = df_basket.withColumn("time_of_day", df_basket["time_of_day"].cast(StringType()))
df_basket = df_basket.withColumn("business_date", df_basket["business_date"].cast(DateType()))
df_basket = df_basket.withColumn("pos_code", df_basket["pos_code"].cast(IntegerType()))
df_basket = df_basket.withColumn("c6", df_basket["c6"].cast(StringType()))
df_basket = df_basket.withColumn("total_cost", df_basket["total_cost"].cast(FloatType()))
df_basket = df_basket.withColumn("unit_cost", df_basket["unit_cost"].cast(FloatType()))
df_basket = df_basket.withColumn("quantity", df_basket["quantity"].cast(IntegerType()))
df_basket = df_basket.withColumn("food_cost", df_basket["food_cost"].cast(FloatType()))
df_basket = df_basket.withColumn("paper_cost", df_basket["paper_cost"].cast(FloatType()))
df_basket = df_basket.withColumn("hour", df_basket["hour"].cast(IntegerType()))
df_basket = df_basket.withColumn("transaction_time", df_basket["transaction_time"].cast(StringType()))
df_basket = df_basket.withColumn("transaction_date", df_basket["transaction_date"].cast(StringType()))
df_basket = df_basket.withColumn("pos_id", df_basket["pos_id"].cast(StringType()))
df_basket = df_basket.withColumn("unique_till_code", df_basket["unique_till_code"].cast(IntegerType()))
df_basket = df_basket.withColumn("sale_number", df_basket["sale_number"].cast(IntegerType()))
df_basket = df_basket.withColumn("menu_item_id", df_basket["menu_item_id"].cast(IntegerType()))
df_basket = df_basket.withColumn("till_key", df_basket["till_key"].cast(IntegerType()))
df_basket = df_basket.withColumn("till_location", df_basket["till_location"].cast(StringType()))
df_basket = df_basket.withColumn("c20", df_basket["c20"].cast(StringType()))
df_basket = df_basket.withColumn("sale_or_refund", df_basket["sale_or_refund"].cast(StringType()))
df_basket = df_basket.withColumn("eatin_eatout", df_basket["eatin_eatout"].cast(IntegerType()))
df_basket = df_basket.withColumn("eat_in_eatout_str", df_basket["eat_in_eatout_str"].cast(StringType()))
df_basket = df_basket.withColumn("payment_type_id", df_basket["payment_type_id"].cast(IntegerType()))
df_basket = df_basket.withColumn("payment_type", df_basket["payment_type"].cast(StringType()))

In [11]:
all_transactions = df_basket.count()

In [12]:
all_transactions

1546161

## 5.3.- Only 'Sales' and not 'Refunds' will be considered

In [13]:
df_basket = df_basket.filter((df_basket['sale_or_refund'] != 'REFUND') | (df_basket['sale_or_refund'] != 'Refund'))

In [14]:
df_basket.count()

1546161

## 5.4.- Extract transaction time from column 'transaction_time'

In [15]:
def get_time(data_str):
    time_str = data_str.split(' ')[1]
    return time_str

get_time_udf = udf(get_time, StringType())

In [16]:
df_basket = df_basket.withColumn("transaction_time", get_time_udf(df_basket['transaction_time']))

In [17]:
df_basket.show(5)

+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+----------------+----------------+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+
|store_number|time_period|time_of_day|business_date|pos_code|  c6|total_cost|unit_cost|quantity|food_cost|paper_cost|hour|transaction_time|transaction_date|           pos_id|unique_till_code|sale_number|menu_item_id|till_key|till_location|c20|sale_or_refund|eatin_eatout|eat_in_eatout_str|payment_type_id|payment_type|
+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+----------------+----------------+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+
|         295|          3|  Afternoon|   2017-10-14|       2|null|       0.0|      0.0|       1|      0.0|       0.0|  16|        16:45:00|      2017-10-14|POS0002:595657242|       595657242|         10|        4650|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|       3.1|      3.1|       1|   0.7784|    0.0385|  16|        16:45:00|      2017-10-14|POS0002:595657242|       595657242|         12|        6120|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|       0.0|      0.0|       1|      0.0|       0.0|  16|        16:45:00|      2017-10-14|POS0002:595657242|       595657242|          8|        2619|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|      0.68|     0.68|       1|      0.0|       0.0|  16|        16:45:00|      2017-10-14|POS0002:595657242|       595657242|          9|        2828|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
|         295|          3|  Afternoon|   2017-10-14|       2|null|       0.0|      0.0|       1|      0.0|       0.0|  16|        16:45:00|      2017-10-14|POS0002:595657242|       595657242|          7|        4834|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|
+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+----------------+----------------+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+
only showing top 5 rows

## 5.5.- Combine transaction date and time into a single timestamp, drop transaction_date and transaction_time

In [18]:
df_basket = df_basket.withColumn('timestamp_tmp', concat(col("transaction_date"), lit(" "), col("transaction_time")))

In [19]:
col = to_timestamp(df_basket['timestamp_tmp'], 'yyyy-MM-dd HH:mm:ss')

In [20]:
df_basket = df_basket.withColumn('timestamp_basket', col)

In [21]:
df_basket = df_basket.drop('transaction_date', 'transaction_time', 'timestamp_tmp')

In [22]:
df_basket.show(5)

+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+-------------------+
|store_number|time_period|time_of_day|business_date|pos_code|  c6|total_cost|unit_cost|quantity|food_cost|paper_cost|hour|           pos_id|unique_till_code|sale_number|menu_item_id|till_key|till_location|c20|sale_or_refund|eatin_eatout|eat_in_eatout_str|payment_type_id|payment_type|   timestamp_basket|
+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+-------------------+
|         295|          3|  Afternoon|   2017-10-14|       2|null|       0.0|      0.0|       1|      0.0|       0.0|  16|POS0002:595657242|       595657242|         10|        4650|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|2017-10-14 16:45:00|
|         295|          3|  Afternoon|   2017-10-14|       2|null|       3.1|      3.1|       1|   0.7784|    0.0385|  16|POS0002:595657242|       595657242|         12|        6120|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|2017-10-14 16:45:00|
|         295|          3|  Afternoon|   2017-10-14|       2|null|       0.0|      0.0|       1|      0.0|       0.0|  16|POS0002:595657242|       595657242|          8|        2619|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|2017-10-14 16:45:00|
|         295|          3|  Afternoon|   2017-10-14|       2|null|      0.68|     0.68|       1|      0.0|       0.0|  16|POS0002:595657242|       595657242|          9|        2828|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|2017-10-14 16:45:00|
|         295|          3|  Afternoon|   2017-10-14|       2|null|       0.0|      0.0|       1|      0.0|       0.0|  16|POS0002:595657242|       595657242|          7|        4834|       1|FRONT COUNTER|  1|          Sale|           1|           Eat In|              1|        Cash|2017-10-14 16:45:00|
+------------+-----------+-----------+-------------+--------+----+----------+---------+--------+---------+----------+----+-----------------+----------------+-----------+------------+--------+-------------+---+--------------+------------+-----------------+---------------+------------+-------------------+
only showing top 5 rows

## 5.6.- Select relevant columns from basket data

In [24]:
df_basket_reduced = df_basket.select('store_number', 'timestamp_basket', 'pos_code', 'pos_id', 'sale_number', 'total_cost', \
                                     'unit_cost', 'quantity', 'menu_item_id', 'sale_or_refund', \
                                     'payment_type_id')

In [25]:
df_basket_reduced.show(5)

+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+--------------+---------------+
|store_number|   timestamp_basket|pos_code|           pos_id|sale_number|total_cost|unit_cost|quantity|menu_item_id|sale_or_refund|payment_type_id|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+--------------+---------------+
|         295|2017-10-14 16:45:00|       2|POS0002:595657242|         10|       0.0|      0.0|       1|        4650|          Sale|              1|
|         295|2017-10-14 16:45:00|       2|POS0002:595657242|         12|       3.1|      3.1|       1|        6120|          Sale|              1|
|         295|2017-10-14 16:45:00|       2|POS0002:595657242|          8|       0.0|      0.0|       1|        2619|          Sale|              1|
|         295|2017-10-14 16:45:00|       2|POS0002:595657242|          9|      0.68|     0.68|       1|        2828|          Sale|              1|
|         295|2017-10-14 16:45:00|       2|POS0002:595657242|          7|       0.0|      0.0|       1|        4834|          Sale|              1|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+--------------+---------------+
only showing top 5 rows

## 5.7.- Split basket data into 'cash' and 'cashless' transaction, sort by store number, timestamp, till ID and sale number

In [26]:
df_basket_cash = df_basket_reduced.filter(df_basket["payment_type_id"] == 1)

In [27]:
df_basket_cash = df_basket_cash.orderBy("store_number", "timestamp_basket", "pos_id", "sale_number")

In [28]:
df_basket_cash = df_basket_cash.drop('sale_or_refund', 'payment_type_id')

In [29]:
df_basket_cashless = df_basket_reduced.filter(df_basket["payment_type_id"] == 2)

In [30]:
df_basket_cashless = df_basket_cashless.orderBy("store_number", "timestamp_basket", "pos_id", "sale_number")

In [31]:
df_basket_cashless = df_basket_cashless.drop('sale_or_refund', 'payment_type_id')

In [32]:
df_basket_cash.show(20)

+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+
|store_number|   timestamp_basket|pos_code|           pos_id|sale_number|total_cost|unit_cost|quantity|menu_item_id|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+
|         295|2017-09-01 05:45:00|       2|POS0002:595643113|          1|      0.66|     0.66|       1|        3750|
|         295|2017-09-01 05:45:00|       2|POS0002:595643113|          2|       0.0|      0.0|       1|        3483|
|         295|2017-09-01 05:45:00|       2|POS0002:595643113|          3|      0.83|     0.83|       1|        5410|
|         295|2017-09-01 06:00:00|       2|POS0002:595643115|          1|       0.0|      0.0|       1|        5501|
|         295|2017-09-01 06:00:00|       2|POS0002:595643115|          2|      1.41|     1.41|       1|        5095|
|         295|2017-09-01 06:00:00|       2|POS0002:595643115|          3|      0.83|     0.83|       1|        7039|
|         295|2017-09-01 06:00:00|       2|POS0002:595643115|          4|       0.0|      0.0|       1|        3549|
|         295|2017-09-01 06:00:00|       2|POS0002:595643115|          5|      2.57|     2.57|       1|        5127|
|         295|2017-09-01 06:00:00|       2|POS0002:595643116|          1|      1.91|     1.91|       1|        2656|
|         295|2017-09-01 06:15:00|       2|POS0002:595643118|          1|      1.24|     1.24|       1|        3536|
|         295|2017-09-01 06:15:00|       2|POS0002:595643119|          1|      0.91|     0.91|       1|        3500|
|         295|2017-09-01 06:30:00|       2|POS0002:595643122|          1|      1.74|     1.74|       1|        3508|
|         295|2017-09-01 06:30:00|       2|POS0002:595643123|          1|      2.98|     1.49|       2|        3526|
|         295|2017-09-01 06:30:00|       2|POS0002:595643124|          1|      1.49|     1.49|       1|        3521|
|         295|2017-09-01 06:30:00|       2|POS0002:595643125|          1|      1.07|     1.07|       1|        3010|
|         295|2017-09-01 06:30:00|       2|POS0002:595643126|          1|      1.49|     1.49|       1|        3526|
|         295|2017-09-01 06:45:00|       2|POS0002:595643127|          1|      2.48|     1.24|       2|        3531|
|         295|2017-09-01 06:45:00|       2|POS0002:595643128|          1|      2.29|     2.29|       1|        2551|
|         295|2017-09-01 06:45:00|       2|POS0002:595643129|          1|      1.74|     1.74|       1|        3508|
|         295|2017-09-01 06:45:00|       2|POS0002:595643130|          1|      1.83|     1.83|       1|        5096|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+
only showing top 20 rows

In [71]:
df_basket_cashless.show(20)

+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+
|store_number|   timestamp_basket|pos_code|           pos_id|sale_number|total_cost|unit_cost|quantity|menu_item_id|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+
|         295|2017-09-01 06:00:00|       2|POS0002:595643114|          1|      0.25|     0.25|       1|        3939|
|         295|2017-09-01 06:00:00|       2|POS0002:595643114|          2|       0.0|      0.0|       1|        5501|
|         295|2017-09-01 06:00:00|       2|POS0002:595643114|          3|      2.57|     2.57|       1|        5127|
|         295|2017-09-01 06:00:00|      24|POS0024:977032388|          1|      2.82|     1.41|       2|        5095|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          1|       0.0|      0.0|       1|        3718|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          2|      2.99|     2.99|       1|        5320|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          3|       0.0|      0.0|       1|        5501|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|          1|      1.49|     1.49|       1|        3521|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|          2|      1.24|     1.24|       1|        3536|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          1|      2.99|     2.99|       1|        5320|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          2|      0.99|     0.99|       1|        3485|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          3|      1.16|     1.16|       1|        5157|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          4|      3.16|     3.16|       1|        5441|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          5|       0.0|      0.0|       1|        5501|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          6|       0.0|      0.0|       1|        5501|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          7|       0.0|      0.0|       1|        2896|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          8|       0.5|      0.5|       1|        2662|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          9|      2.57|     2.57|       1|        5127|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|         10|      0.25|     0.25|       1|        3586|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|         11|       0.5|      0.5|       1|        3940|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+
only showing top 20 rows

In [34]:
cash_transactions = df_basket_cash.count()

In [35]:
cashless_transactions = df_basket_cashless.count()

In [36]:
cash_transactions

496907

In [37]:
cashless_transactions

1043511

## 5.8.- Compute percentage of 'cash' and 'cashless' transaction

In [38]:
cash_transactions*100/all_transactions

32.13811498285107

In [39]:
cashless_transactions*100/all_transactions

67.49044892478855

## 5.9.- Get Exeter store numbers

In [40]:
stores_list = [i.store_number for i in df_basket.select('store_number').distinct().collect()]

In [41]:
stores_list

[972, 295]

# 6.- Card data preprocessing

## 6.1.- Load and filter card data by store number

In [42]:
df_Sep2017T = sqlContext.read.csv("McD_Card_Data/Sep2017_T.csv", header=True, mode="DROPMALFORMED", schema=schema_card)

In [43]:
df_Sep2017T = df_Sep2017T.filter(df_Sep2017T['store_number'].isin(stores_list))

In [44]:
df_Oct2017T = sqlContext.read.csv("McD_Card_Data/Oct2017_T.csv", header=True, mode="DROPMALFORMED", schema=schema_card)

In [45]:
df_Oct2017T = df_Oct2017T.filter(df_Oct2017T['store_number'].isin(stores_list))

In [46]:
df_Nov2017T = sqlContext.read.csv("McD_Card_Data/Nov2017_T.csv", header=True, mode="DROPMALFORMED", schema=schema_card)

In [47]:
df_Nov2017T = df_Nov2017T.filter(df_Nov2017T['store_number'].isin(stores_list))

## 6.2.- Concatenate and sort card data, drop irrelevant fields

In [48]:
df_cards = df_Sep2017T.unionAll(df_Oct2017T)

In [49]:
df_cards = df_cards.unionAll(df_Nov2017T)

In [50]:
df_cards = df_cards.orderBy("store_number", "transaction_date", "transaction_time")

In [51]:
df_cards = df_cards.drop('card_scheme', 'empty_field')

In [52]:
df_cards.count()

202023

## 6.3.- Convert transaction amount to pounds

In [53]:
def get_amount_pounds(amount_pence):
    amount_pounds = amount_pence/100.0
    return amount_pounds

get_amount_pounds_udf = udf(get_amount_pounds, FloatType())

In [54]:
df_cards = df_cards.withColumn("transaction_amount", get_amount_pounds_udf(df_cards['transaction_amount']))

In [55]:
df_cards.show(5)

+------------+---------------+----------------+----------------+------------------+--------------------+
|store_number|terminal_number|transaction_date|transaction_time|transaction_amount|           pan_token|
+------------+---------------+----------------+----------------+------------------+--------------------+
|         295|              2|      2017/09/01|             604|              3.39|5C538EB879B4645AF...|
|         295|             24|      2017/09/01|             606|              3.38|ECDFB189903D31473...|
|         295|              2|      2017/09/01|             626|              3.59|B73494120D3F178C3...|
|         295|              2|      2017/09/01|             629|              3.28|96C37352E2BE6EEA2...|
|         295|             26|      2017/09/01|             637|              1.78|7115627C2EE250A21...|
+------------+---------------+----------------+----------------+------------------+--------------------+
only showing top 5 rows

## 6.4.- Convert transaction time to hour and minutes

In [56]:
def convert_time(time_int):
    time_flt = time_int/99.9999999
    time = math.modf(time_flt)
    hour = str(int(time[1]))
    minutes = str(int(time[0]*100))
    
    if len(hour) == 1:
        hour = hour.zfill(2)
    if len(minutes) == 1:
        minutes = minutes.zfill(2)
    
    time_str = hour + ':' + minutes + ':' + '00'
    return time_str

convert_time_udf = udf(convert_time, StringType())

In [57]:
df_cards = df_cards.withColumn("transaction_time", convert_time_udf(df_cards['transaction_time']))

In [58]:
df_cards.show(5)

+------------+---------------+----------------+----------------+------------------+--------------------+
|store_number|terminal_number|transaction_date|transaction_time|transaction_amount|           pan_token|
+------------+---------------+----------------+----------------+------------------+--------------------+
|         295|              2|      2017/09/01|        06:04:00|              3.39|5C538EB879B4645AF...|
|         295|             24|      2017/09/01|        06:06:00|              3.38|ECDFB189903D31473...|
|         295|              2|      2017/09/01|        06:26:00|              3.59|B73494120D3F178C3...|
|         295|              2|      2017/09/01|        06:29:00|              3.28|96C37352E2BE6EEA2...|
|         295|             26|      2017/09/01|        06:37:00|              1.78|7115627C2EE250A21...|
+------------+---------------+----------------+----------------+------------------+--------------------+
only showing top 5 rows

## 6.5.- Combine transaction date and time into a single timestamp, drop transaction_date and transaction_time

In [59]:
df_cards = df_cards.withColumn('timestamp_tmp', concat(df_cards["transaction_date"], lit(" "), \
                                                       df_cards["transaction_time"]))

In [60]:
col = to_timestamp(df_cards['timestamp_tmp'], 'yyyy/MM/dd HH:mm:ss')

In [61]:
df_cards = df_cards.withColumn('timestamp_cards', col)

In [62]:
df_cards = df_cards.drop('transaction_date', 'transaction_time', 'timestamp_tmp')

In [63]:
df_cards.show(20)

+------------+---------------+------------------+--------------------+-------------------+
|store_number|terminal_number|transaction_amount|           pan_token|    timestamp_cards|
+------------+---------------+------------------+--------------------+-------------------+
|         295|              2|              3.39|5C538EB879B4645AF...|2017-09-01 06:04:00|
|         295|             24|              3.38|ECDFB189903D31473...|2017-09-01 06:06:00|
|         295|              2|              3.59|B73494120D3F178C3...|2017-09-01 06:26:00|
|         295|              2|              3.28|96C37352E2BE6EEA2...|2017-09-01 06:29:00|
|         295|             26|              1.78|7115627C2EE250A21...|2017-09-01 06:37:00|
|         295|             24|              3.99|9A0B40CD994F4C878...|2017-09-01 06:38:00|
|         295|             26|              6.18|DA5AC4203EB66A5D4...|2017-09-01 06:39:00|
|         295|             22|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|             26|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|             24|              4.19|0DDAAD81F19ACCD4A...|2017-09-01 06:49:00|
|         295|             23|              5.08|030176CFAAC1D0B37...|2017-09-01 06:49:00|
|         295|             26|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|             24|              3.59|2E932BA7AB9B5BC60...|2017-09-01 07:06:00|
|         295|             26|              3.99|05BAE9C58C7BC1E3C...|2017-09-01 07:09:00|
|         295|             22|              3.78|62242CF540B12DA88...|2017-09-01 07:09:00|
|         295|              2|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|              2|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|              2|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|              2|              5.18|D18031A3A3FD7B192...|2017-09-01 07:30:00|
|         295|              2|              2.59|24451DCA0811EAD2C...|2017-09-01 07:39:00|
+------------+---------------+------------------+--------------------+-------------------+
only showing top 20 rows

# 7.- Remove unnecessary data from memory

In [64]:
df_Sep2017T.unpersist()
df_Oct2017T.unpersist()
df_Nov2017T.unpersist()

DataFrame[store_number: int, terminal_number: int, transaction_date: string, transaction_time: int, transaction_amount: float, card_scheme: string, pan_token: string, empty_field: int]

# 8.- Save preprocessed data to disk

In [ ]:
df_basket_cash.repartition(1).write.format('com.databricks.spark.csv').save('exeter_basket_cash.csv', header = 'true')

In [ ]:
df_basket_cashless.repartition(1).write.format('com.databricks.spark.csv').save('exeter_basket_cashless.csv', header = 'true')

In [ ]:
df_cards.repartition(1).write.format('com.databricks.spark.csv').save('exeter_cards.csv', header = 'true')

# 9.- Linkage

## 9.1.- Compute basket total plus VAT

In [96]:
df_basket_cashless_aggregated = df_basket_cashless.groupBy("store_number", "timestamp_basket", "pos_code", \
                                                           "pos_id").agg(sum("total_cost").alias("total_cost")). \
                                                                         orderBy("store_number", \
                                                                                 "timestamp_basket", 
                                                                                 "pos_code", \
                                                                                 "pos_id")

In [97]:
df_basket_cashless_aggregated.show(5)

+------------+-------------------+--------+-----------------+------------------+
|store_number|   timestamp_basket|pos_code|           pos_id|        total_cost|
+------------+-------------------+--------+-----------------+------------------+
|         295|2017-09-01 06:00:00|       2|POS0002:595643114| 2.819999933242798|
|         295|2017-09-01 06:00:00|      24|POS0024:977032388| 2.819999933242798|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120| 2.990000009536743|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|2.7300000190734863|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|12.120000004768372|
+------------+-------------------+--------+-----------------+------------------+
only showing top 5 rows

In [98]:
df_basket_cashless_aggregated = df_basket_cashless_aggregated.withColumn('sale_total', col('total_cost')*1.2)

In [99]:
df_basket_cashless_aggregated.show(5)

+------------+-------------------+--------+-----------------+------------------+------------------+
|store_number|   timestamp_basket|pos_code|           pos_id|        total_cost|        sale_total|
+------------+-------------------+--------+-----------------+------------------+------------------+
|         295|2017-09-01 06:00:00|       2|POS0002:595643114| 2.819999933242798|3.3839999198913575|
|         295|2017-09-01 06:00:00|      24|POS0024:977032388| 2.819999933242798|3.3839999198913575|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120| 2.990000009536743|3.5880000114440915|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|2.7300000190734863|3.2760000228881836|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|12.120000004768372|14.544000005722046|
+------------+-------------------+--------+-----------------+------------------+------------------+
only showing top 5 rows

In [100]:
df_basket_cashless_aggregated = df_basket_cashless_aggregated.\
                                withColumn("sale_total", round(df_basket_cashless_aggregated["sale_total"], 2))

In [102]:
df_basket_cashless_aggregated.show(5)

+------------+-------------------+--------+-----------------+------------------+----------+
|store_number|   timestamp_basket|pos_code|           pos_id|        total_cost|sale_total|
+------------+-------------------+--------+-----------------+------------------+----------+
|         295|2017-09-01 06:00:00|       2|POS0002:595643114| 2.819999933242798|      3.38|
|         295|2017-09-01 06:00:00|      24|POS0024:977032388| 2.819999933242798|      3.38|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120| 2.990000009536743|      3.59|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|2.7300000190734863|      3.28|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|12.120000004768372|     14.54|
+------------+-------------------+--------+-----------------+------------------+----------+
only showing top 5 rows

## 9.2.- Join aggregated basket with card data using sale total

In [103]:
df_basket_cashless.registerTempTable('basket')
df_basket_cashless_aggregated.registerTempTable('basket_aggregated')
df_cards.registerTempTable('cards')

In [108]:
# we consider transaction amounts that are 5% above and below computed sale totals
df_joined_basket0 = sqlContext.sql("SELECT basket_aggregated.*, cards.transaction_amount, cards.pan_token, \
                             cards.timestamp_cards \
                             FROM basket_aggregated \
                             JOIN cards ON \
                             basket_aggregated.store_number = cards.store_number AND \
                             basket_aggregated.pos_code = cards.terminal_number AND \
                             cards.timestamp_cards >= basket_aggregated.timestamp_basket AND \
                             cards.timestamp_cards < basket_aggregated.timestamp_basket + INTERVAL 15 MINUTES AND \
                             cards.transaction_amount < basket_aggregated.sale_total*1.05 AND \
                             cards.transaction_amount > basket_aggregated.sale_total*0.95 \
                             ORDER BY basket_aggregated.store_number, basket_aggregated.timestamp_basket, \
                             basket_aggregated.pos_code, basket_aggregated.pos_id")

In [109]:
df_joined_basket0.show(100)

+------------+-------------------+--------+------------------+------------------+----------+------------------+--------------------+-------------------+
|store_number|   timestamp_basket|pos_code|            pos_id|        total_cost|sale_total|transaction_amount|           pan_token|    timestamp_cards|
+------------+-------------------+--------+------------------+------------------+----------+------------------+--------------------+-------------------+
|         295|2017-09-01 06:00:00|       2| POS0002:595643114| 2.819999933242798|      3.38|              3.39|5C538EB879B4645AF...|2017-09-01 06:04:00|
|         295|2017-09-01 06:00:00|      24| POS0024:977032388| 2.819999933242798|      3.38|              3.38|ECDFB189903D31473...|2017-09-01 06:06:00|
|         295|2017-09-01 06:15:00|       2| POS0002:595643120| 2.990000009536743|      3.59|              3.59|B73494120D3F178C3...|2017-09-01 06:26:00|
|         295|2017-09-01 06:15:00|       2| POS0002:595643121|2.7300000190734863|      3.28|              3.28|96C37352E2BE6EEA2...|2017-09-01 06:29:00|
|         295|2017-09-01 06:30:00|      22| POS0022:802104822|12.120000004768372|     14.54|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      24| POS0024:977032389|3.3299999237060547|       4.0|              3.99|9A0B40CD994F4C878...|2017-09-01 06:38:00|
|         295|2017-09-01 06:30:00|      26| POS0026:514614045|1.4800000190734863|      1.78|              1.78|7115627C2EE250A21...|2017-09-01 06:37:00|
|         295|2017-09-01 06:30:00|      26| POS0026:514614046| 5.159999966621399|      6.19|              6.18|DA5AC4203EB66A5D4...|2017-09-01 06:39:00|
|         295|2017-09-01 06:45:00|      23| POS0023:711444560| 4.230000019073486|      5.08|              5.08|030176CFAAC1D0B37...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      24| POS0024:977032390| 3.490000009536743|      4.19|              4.19|0DDAAD81F19ACCD4A...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      26| POS0026:514614047| 3.319999933242798|      3.98|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 06:45:00|      26| POS0026:514614048| 6.230000019073486|      7.48|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 07:00:00|      22| POS0022:802104823|3.1500000953674316|      3.78|              3.78|62242CF540B12DA88...|2017-09-01 07:09:00|
|         295|2017-09-01 07:00:00|      24| POS0024:977032391| 2.990000009536743|      3.59|              3.59|2E932BA7AB9B5BC60...|2017-09-01 07:06:00|
|         295|2017-09-01 07:00:00|      26| POS0026:514614049|3.3299999237060547|       4.0|              3.99|05BAE9C58C7BC1E3C...|2017-09-01 07:09:00|
|         295|2017-09-01 07:15:00|       2| POS0002:595643137|1.8300000429153442|       2.2|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2| POS0002:595643139|3.1600000858306885|      3.79|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2| POS0002:595643139|3.1600000858306885|      3.79|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:30:00|       2| POS0002:595643142|2.1600000858306885|      2.59|              2.59|24451DCA0811EAD2C...|2017-09-01 07:39:00|
|         295|2017-09-01 07:45:00|      26| POS0026:514614051|1.4900000095367432|      1.79|              1.79|4F8E38FEC1A6E1ED4...|2017-09-01 07:59:00|
|         295|2017-09-01 08:00:00|       2| POS0002:595643147|3.3299999237060547|       4.0|              3.99|EFC0079047DE9FACE...|2017-09-01 08:04:00|
|         295|2017-09-01 08:00:00|      25| POS0025:558486044| 4.069999933242798|      4.88|              4.88|A0F5192C2D5C0A24C...|2017-09-01 08:10:00|
|         295|2017-09-01 08:00:00|      28|POS0028:1064794145| 2.899999976158142|      3.48|              3.47|F6BD052E8E795E386...|2017-09-01 08:14:00|
|         295|2017-09-01 08:15:00|       2| POS0002:595643154|3.3299999237060547|       4.0|              3.99|A17785CC114ADAD22...|2017-09-01 08:16:00|
|         295|2017-09-01 08:15:00|       2| POS0002:595643155| 2.990000009536743|      3.59|              3.59|D9C87BE03FBF61447...|2017-09-01 08:17:00|
|         295|2017-09-01 08:15:00|       2| POS0002:595643157| 4.069999933242798|      4.88|              4.88|F7D855F72C6338BDF...|2017-09-01 08:18:00|
|         295|2017-09-01 08:15:00|       2| POS0002:595643160| 1.909999966621399|      2.29|              2.29|9E01276A353DCA0C6...|2017-09-01 08:21:00|
|         295|2017-09-01 08:15:00|      21| POS0021:902170811| 2.990000009536743|      3.59|              3.59|B3761B096363EF172...|2017-09-01 08:24:00|
|         295|2017-09-01 08:15:00|      21| POS0021:902170812|0.9100000262260437|      1.09|              1.09|BA8798758019E0722...|2017-09-01 08:28:00|
|         295|2017-09-01 08:15:00|      22| POS0022:802104824| 2.990000009536743|      3.59|              3.59|39E7EE356337F3C46...|2017-09-01 08:22:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614052| 4.069999933242798|      4.88|              4.88|1151611163708DD7B...|2017-09-01 08:17:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614053|2.4100000858306885|      2.89|              2.89|F548254D6F7DA7BD5...|2017-09-01 08:20:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614054|2.9800000190734863|      3.58|              3.58|445AC3C1D778A648D...|2017-09-01 08:21:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614054|2.9800000190734863|      3.58|              3.59|02A86A4391CE22059...|2017-09-01 08:29:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614055|1.2400000095367432|      1.49|              1.49|35F7257CF8AE6F3A3...|2017-09-01 08:23:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614056|2.1600000858306885|      2.59|              2.59|D15CE6CEE53FA9BB0...|2017-09-01 08:25:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614057| 2.990000009536743|      3.59|              3.58|445AC3C1D778A648D...|2017-09-01 08:21:00|
|         295|2017-09-01 08:15:00|      26| POS0026:514614057| 2.990000009536743|      3.59|              3.59|02A86A4391CE22059...|2017-09-01 08:29:00|
|         295|2017-09-01 08:15:00|      27| POS0027:418107633|2.1600000858306885|      2.59|              2.59|3C202B9F80A9E9E8F...|2017-09-01 08:27:00|
|         295|2017-09-01 08:30:00|       2| POS0002:595643167|3.3299999237060547|       4.0|              3.99|0A838C015BCF11E69...|2017-09-01 08:32:00|
|         295|2017-09-01 08:30:00|       2| POS0002:595643176| 1.909999966621399|      2.29|              2.29|BEFA4FF193E78CAA9...|2017-09-01 08:44:00|
|         295|2017-09-01 08:30:00|      21| POS0021:902170813|1.9800000190734863|      2.38|              2.38|FA755EC4093137FD7...|2017-09-01 08:34:00|
|         295|2017-09-01 08:30:00|      22| POS0022:802104825| 2.990000009536743|      3.59|              3.59|8FBCF128019EBA20F...|2017-09-01 08:38:00|
|         295|2017-09-01 08:30:00|      23| POS0023:711444561|10.289999902248383|     12.35|             12.34|8EDD4C6BABF05E639...|2017-09-01 08:42:00|
|         295|2017-09-01 08:30:00|      24| POS0024:977032393| 6.230000138282776|      7.48|              7.47|186C62AA79D209087...|2017-09-01 08:38:00|
|         295|2017-09-01 08:30:00|      24| POS0024:977032394| 2.990000009536743|      3.59|              3.59|ABD8E2A21A3B03D3D...|2017-09-01 08:43:00|
|         295|2017-09-01 08:30:00|      26| POS0026:514614058| 4.980000019073486|      5.98|              5.98|FD8F56B5EB582B851...|2017-09-01 08:31:00|
|         295|2017-09-01 08:30:00|      26| POS0026:514614059|2.6600000262260437|      3.19|              3.18|2EF58AFD90EE36778...|2017-09-01 08:33:00|
|         295|2017-09-01 08:45:00|       2| POS0002:595643183|3.3299999237060547|       4.0|              3.99|B3291A6ED449FFC2D...|2017-09-01 08:52:00|
|         295|2017-09-01 08:45:00|      21| POS0021:902170814|3.3100000619888306|      3.97|              3.97|CBC336B7368EC6039...|2017-09-01 08:50:00|
|         295|2017-09-01 08:45:00|      22| POS0022:802104826| 7.230000078678131|      8.68|              8.66|3A97D23E1822EB7CE...|2017-09-01 08:51:00|
|         295|2017-09-01 08:45:00|      22| POS0022:802104827|2.1600000858306885|      2.59|              2.59|6D3DB617C3575214A...|2017-09-01 08:56:00|
|         295|2017-09-01 08:45:00|      22| POS0022:802104828| 3.240000009536743|      3.89|              3.89|4F9B7ADD2FC21DDC1...|2017-09-01 08:57:00|
|         295|2017-09-01 08:45:00|      24| POS0024:977032396| 8.430000185966492|     10.12|              9.87|9EAD1845397BCE6C5...|2017-09-01 08:59:00|
|         295|2017-09-01 08:45:00|      28|POS0028:1064794146| 6.319999933242798|      7.58|              7.58|054F825158F4C51B1...|2017-09-01 08:48:00|
|         295|2017-09-01 09:00:00|       2| POS0002:595643186| 3.240000009536743|      3.89|              3.89|0BF98825374B86E09...|2017-09-01 09:01:00|
|         295|2017-09-01 09:00:00|       2| POS0002:595643187| 5.980000019073486|      7.18|              7.18|BF282F9F5BFE9BCD3...|2017-09-01 09:02:00|
|         295|2017-09-01 09:00:00|       2| POS0002:595643194| 4.320000171661377|      5.18|              5.18|ED4BF4B9E94DA103D...|2017-09-01 09:14:00|
|         295|2017-09-01 09:00:00|      22| POS0022:802104829|3.6600000858306885|      4.39|              4.29|9BBA140DACB760E11...|2017-09-01 09:11:00|
|         295|2017-09-01 09:00:00|      22| POS0022:802104829|3.6600000858306885|      4.39|              4.38|B7FB37F97F054DD71...|2017-09-01 09:09:00|
|         295|2017-09-01 09:00:00|      22| POS0022:802104830|3.5799999237060547|       4.3|              4.29|9BBA140DACB760E11...|2017-09-01 09:11:00|
|         295|2017-09-01 09:00:00|      22| POS0022:802104830|3.5799999237060547|       4.3|              4.38|B7FB37F97F054DD71...|2017-09-01 09:09:00|
|         295|2017-09-01 09:00:00|      24| POS0024:977032397| 6.150000095367432|      7.38|              7.38|3A8BB875B52819E7C...|2017-09-01 09:03:00|
|         295|2017-09-01 09:00:00|      24| POS0024:977032398| 1.409999966621399|      1.69|              1.69|1A36EEB0290A96846...|2017-09-01 09:06:00|
|         295|2017-09-01 09:00:00|      24| POS0024:977032399|3.7300000190734863|      4.48|              4.48|7C4CFA5F9B21C7F22...|2017-09-01 09:08:00|
|         295|2017-09-01 09:00:00|      24| POS0024:977032400| 7.900000035762787|      9.48|              9.47|B8ABA007C7B9DDD85...|2017-09-01 09:14:00|
|         295|2017-09-01 09:00:00|      26| POS0026:514614060| 2.990000009536743|      3.59|              3.59|CAB5367703EE43870...|2017-09-01 09:01:00|
|         295|2017-09-01 09:00:00|      26| POS0026:514614061| 4.069999992847443|      4.88|              4.88|958DE964CF6117AC4...|2017-09-01 09:09:00|
|         295|2017-09-01 09:00:00|      26| POS0026:514614062| 8.220000147819519|      9.86|              9.86|E28B4A8CDFFE671C5...|2017-09-01 09:12:00|
|         295|2017-09-01 09:00:00|      27| POS0027:418107635|3.9000000953674316|      4.68|              4.68|4CA3D1C233423508A...|2017-09-01 09:07:00|
|         295|2017-09-01 09:15:00|       2| POS0002:595643198|3.3299999237060547|       4.0|              3.99|C73CD927FAE049549...|2017-09-01 09:22:00|
|         295|2017-09-01 09:15:00|      22| POS0022:802104831| 1.159999966621399|      1.39|              1.39|EB3152C714F8D0B41...|2017-09-01 09:26:00|
|         295|2017-09-01 09:15:00|      24| POS0024:977032401| 8.139999866485596|      9.77|              9.76|FF22B3E89C6CF4D4B...|2017-09-01 09:26:00|
|         295|2017-09-01 09:15:00|      25| POS0025:558486047| 3.490000009536743|      4.19|              4.18|F6008CDD746BC5DED...|2017-09-01 09:29:00|
|         295|2017-09-01 09:15:00|      26| POS0026:514614064| 2.990000009536743|      3.59|              3.59|FF118779E74A896E6...|2017-09-01 09:29:00|
|         295|2017-09-01 09:30:00|       2| POS0002:595643210| 5.319999933242798|      6.38|              6.38|9461E1C5A4AC83597...|2017-09-01 09:39:00|
|         295|2017-09-01 09:30:00|       2| POS0002:595643211| 5.809999942779541|      6.97|              6.98|E20C9C107DB4B98D6...|2017-09-01 09:40:00|
|         295|2017-09-01 09:30:00|       2| POS0002:595643212| 8.809999942779541|     10.57|             10.55|49490EE2CA24BBE70...|2017-09-01 09:30:00|
|         295|2017-09-01 09:30:00|       2| POS0002:595643212| 8.809999942779541|     10.57|             10.57|4BA4EE3F7F9BB31BA...|2017-09-01 09:41:00|
|         295|2017-09-01 09:30:00|      21| POS0021:902170816| 6.659999847412109|      7.99|              7.98|0A01A5965C06B02E1...|2017-09-01 09:36:00|
|         295|2017-09-01 09:30:00|      21| POS0021:902170817| 2.990000009536743|      3.59|              3.59|0B7AAFE482999E93B...|2017-09-01 09:44:00|
|         295|2017-09-01 09:30:00|      22| POS0022:802104832| 7.149999916553497|      8.58|              8.57|9220A13883025E1E0...|2017-09-01 09:32:00|
|         295|2017-09-01 09:30:00|      23| POS0023:711444562|3.3299999237060547|       4.0|              3.99|EBF81B558158DE876...|2017-09-01 09:43:00|
|         295|2017-09-01 09:30:00|      24| POS0024:977032402| 3.559999942779541|      4.27|              4.28|775681D5DAB7148F0...|2017-09-01 09:30:00|
|         295|2017-09-01 09:30:00|      26| POS0026:514614065|  9.56000018119812|     11.47|             11.46|5F6A5F3A1013217DE...|2017-09-01 09:37:00|
|         295|2017-09-01 09:30:00|      28|POS0028:1064794147|3.9799998998641968|      4.78|              4.78|7E52C765139AC563A...|2017-09-01 09:37:00|
|         295|2017-09-01 09:45:00|       2| POS0002:595643218| 6.650000095367432|      7.98|              7.97|01A5D10E6EB582A38...|2017-09-01 09:55:00|
|         295|2017-09-01 09:45:00|      21| POS0021:902170818| 4.320000171661377|      5.18|              5.18|A37AE7DC59EF2FA5B...|2017-09-01 09:49:00|
|         295|2017-09-01 09:45:00|      24| POS0024:977032404|2.1600000858306885|      2.59|              2.59|79245FBD97B5BD993...|2017-09-01 09:52:00|
|         295|2017-09-01 09:45:00|      24| POS0024:977032405| 2.990000009536743|      3.59|              3.59|A7379AB0939FC951C...|2017-09-01 09:58:00|
|         295|2017-09-01 09:45:00|      26| POS0026:514614067| 3.810000002384186|      4.57|              4.67|FF94F535F11821D64...|2017-09-01 09:54:00|
|         295|2017-09-01 09:45:00|      26| POS0026:514614067| 3.810000002384186|      4.57|              4.57|1C0C84FA8D90FD9A6...|2017-09-01 09:49:00|
|         295|2017-09-01 09:45:00|      26| POS0026:514614068| 5.980000019073486|      7.18|              7.18|3125933EBC3EFD847...|2017-09-01 09:51:00|
|         295|2017-09-01 09:45:00|      26| POS0026:514614069| 3.890000104904175|      4.67|              4.67|FF94F535F11821D64...|2017-09-01 09:54:00|
|         295|2017-09-01 09:45:00|      26| POS0026:514614069| 3.890000104904175|      4.67|              4.57|1C0C84FA8D90FD9A6...|2017-09-01 09:49:00|
|         295|2017-09-01 09:45:00|      27| POS0027:418107636|2.5700000524520874|      3.08|              3.08|514B7C43B16EDBE0C...|2017-09-01 09:46:00|
|         295|2017-09-01 10:00:00|       2| POS0002:595643220| 2.990000009536743|      3.59|              3.59|DF48BD7E9EDDE3917...|2017-09-01 10:00:00|
|         295|2017-09-01 10:00:00|       2| POS0002:595643226| 4.320000171661377|      5.18|              5.18|D78E5BD0BB84B1C84...|2017-09-01 10:05:00|
|         295|2017-09-01 10:00:00|       2| POS0002:595643237| 7.300000071525574|      8.76|              8.76|E9F8BF54CED5B3101...|2017-09-01 10:12:00|
|         295|2017-09-01 10:00:00|       2| POS0002:595643240| 2.569999933242798|      3.08|              3.09|2AEA994947F564240...|2017-09-01 10:14:00|
+------------+-------------------+--------+------------------+------------------+----------+------------------+--------------------+-------------------+
only showing top 100 rows

In [110]:
df_joined_basket0.registerTempTable('joined_basket0')

## 9.3.- Join total sale - basket data with card data

In [112]:
df_joined_basket1 = sqlContext.sql("SELECT basket.*, joined_basket0.transaction_amount, joined_basket0.pan_token, \
                             joined_basket0.timestamp_cards \
                             FROM basket \
                             JOIN joined_basket0 ON \
                             basket.store_number = joined_basket0.store_number AND \
                             basket.pos_code = joined_basket0.pos_code AND \
                             joined_basket0.timestamp_cards >= basket.timestamp_basket AND \
                             joined_basket0.timestamp_cards < basket.timestamp_basket + INTERVAL 15 MINUTES \
                             ORDER BY basket.store_number, basket.timestamp_basket, basket.pos_code, basket.sale_number")

In [113]:
df_joined_basket1.show(100)

+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+------------------+--------------------+-------------------+
|store_number|   timestamp_basket|pos_code|           pos_id|sale_number|total_cost|unit_cost|quantity|menu_item_id|transaction_amount|           pan_token|    timestamp_cards|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+------------------+--------------------+-------------------+
|         295|2017-09-01 06:00:00|       2|POS0002:595643114|          1|      0.25|     0.25|       1|        3939|              3.39|5C538EB879B4645AF...|2017-09-01 06:04:00|
|         295|2017-09-01 06:00:00|       2|POS0002:595643114|          2|       0.0|      0.0|       1|        5501|              3.39|5C538EB879B4645AF...|2017-09-01 06:04:00|
|         295|2017-09-01 06:00:00|       2|POS0002:595643114|          3|      2.57|     2.57|       1|        5127|              3.39|5C538EB879B4645AF...|2017-09-01 06:04:00|
|         295|2017-09-01 06:00:00|      24|POS0024:977032388|          1|      2.82|     1.41|       2|        5095|              3.38|ECDFB189903D31473...|2017-09-01 06:06:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          1|       0.0|      0.0|       1|        3718|              3.59|B73494120D3F178C3...|2017-09-01 06:26:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|          1|      1.49|     1.49|       1|        3521|              3.59|B73494120D3F178C3...|2017-09-01 06:26:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          1|       0.0|      0.0|       1|        3718|              3.28|96C37352E2BE6EEA2...|2017-09-01 06:29:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|          1|      1.49|     1.49|       1|        3521|              3.28|96C37352E2BE6EEA2...|2017-09-01 06:29:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          2|      2.99|     2.99|       1|        5320|              3.28|96C37352E2BE6EEA2...|2017-09-01 06:29:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|          2|      1.24|     1.24|       1|        3536|              3.59|B73494120D3F178C3...|2017-09-01 06:26:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643121|          2|      1.24|     1.24|       1|        3536|              3.28|96C37352E2BE6EEA2...|2017-09-01 06:29:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          2|      2.99|     2.99|       1|        5320|              3.59|B73494120D3F178C3...|2017-09-01 06:26:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          3|       0.0|      0.0|       1|        5501|              3.28|96C37352E2BE6EEA2...|2017-09-01 06:29:00|
|         295|2017-09-01 06:15:00|       2|POS0002:595643120|          3|       0.0|      0.0|       1|        5501|              3.59|B73494120D3F178C3...|2017-09-01 06:26:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          1|      2.99|     2.99|       1|        5320|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          2|      0.99|     0.99|       1|        3485|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          3|      1.16|     1.16|       1|        5157|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          4|      3.16|     3.16|       1|        5441|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          5|       0.0|      0.0|       1|        5501|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          6|       0.0|      0.0|       1|        5501|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          7|       0.0|      0.0|       1|        2896|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          8|       0.5|      0.5|       1|        2662|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|          9|      2.57|     2.57|       1|        5127|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|         10|      0.25|     0.25|       1|        3586|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      22|POS0022:802104822|         11|       0.5|      0.5|       1|        3940|             14.55|B4C3C406966A533ED...|2017-09-01 06:43:00|
|         295|2017-09-01 06:30:00|      24|POS0024:977032389|          1|       0.0|      0.0|       1|        5501|              3.99|9A0B40CD994F4C878...|2017-09-01 06:38:00|
|         295|2017-09-01 06:30:00|      24|POS0024:977032389|          2|      3.33|     3.33|       1|        5125|              3.99|9A0B40CD994F4C878...|2017-09-01 06:38:00|
|         295|2017-09-01 06:30:00|      24|POS0024:977032389|          3|       0.0|      0.0|       1|        3787|              3.99|9A0B40CD994F4C878...|2017-09-01 06:38:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614045|          1|      1.48|     0.74|       2|        5500|              1.78|7115627C2EE250A21...|2017-09-01 06:37:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614045|          1|      1.48|     0.74|       2|        5500|              6.18|DA5AC4203EB66A5D4...|2017-09-01 06:39:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          1|       0.0|      0.0|       1|        3718|              6.18|DA5AC4203EB66A5D4...|2017-09-01 06:39:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          1|       0.0|      0.0|       1|        3718|              1.78|7115627C2EE250A21...|2017-09-01 06:37:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          2|      3.33|     3.33|       1|        5125|              1.78|7115627C2EE250A21...|2017-09-01 06:37:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          2|      3.33|     3.33|       1|        5125|              6.18|DA5AC4203EB66A5D4...|2017-09-01 06:39:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          3|       0.0|      0.0|       1|        5501|              1.78|7115627C2EE250A21...|2017-09-01 06:37:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          3|       0.0|      0.0|       1|        5501|              6.18|DA5AC4203EB66A5D4...|2017-09-01 06:39:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          4|      1.83|     1.83|       1|        5096|              1.78|7115627C2EE250A21...|2017-09-01 06:37:00|
|         295|2017-09-01 06:30:00|      26|POS0026:514614046|          4|      1.83|     1.83|       1|        5096|              6.18|DA5AC4203EB66A5D4...|2017-09-01 06:39:00|
|         295|2017-09-01 06:45:00|      23|POS0023:711444560|          1|      3.24|     3.24|       1|        5439|              5.08|030176CFAAC1D0B37...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      23|POS0023:711444560|          2|      0.25|     0.25|       1|        3587|              5.08|030176CFAAC1D0B37...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      23|POS0023:711444560|          3|      0.74|     0.74|       1|        5500|              5.08|030176CFAAC1D0B37...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      24|POS0024:977032390|          1|       0.5|      0.5|       1|        3940|              4.19|0DDAAD81F19ACCD4A...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      24|POS0024:977032390|          2|       0.0|      0.0|       1|        5501|              4.19|0DDAAD81F19ACCD4A...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      24|POS0024:977032390|          3|      2.99|     2.99|       1|        5098|              4.19|0DDAAD81F19ACCD4A...|2017-09-01 06:49:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          1|       0.0|      0.0|       1|        5501|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          1|       0.0|      0.0|       1|        5501|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614047|          1|      3.32|     1.66|       2|        3935|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614047|          1|      3.32|     1.66|       2|        3935|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          2|       0.0|      0.0|       1|        5501|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          2|       0.0|      0.0|       1|        5501|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          3|      2.99|     2.99|       1|        5320|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          3|      2.99|     2.99|       1|        5320|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          4|      2.99|     2.99|       1|        5320|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          4|      2.99|     2.99|       1|        5320|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          5|      0.25|     0.25|       1|        3586|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          5|      0.25|     0.25|       1|        3586|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          6|       0.0|      0.0|       1|        3477|              7.48|62BC1FAE5B5B82AC6...|2017-09-01 06:57:00|
|         295|2017-09-01 06:45:00|      26|POS0026:514614048|          6|       0.0|      0.0|       1|        3477|              3.98|35A7DA3574AF36E8C...|2017-09-01 06:47:00|
|         295|2017-09-01 07:00:00|      22|POS0022:802104823|          1|      2.41|     2.41|       1|        5437|              3.78|62242CF540B12DA88...|2017-09-01 07:09:00|
|         295|2017-09-01 07:00:00|      22|POS0022:802104823|          2|      0.74|     0.74|       1|        5500|              3.78|62242CF540B12DA88...|2017-09-01 07:09:00|
|         295|2017-09-01 07:00:00|      24|POS0024:977032391|          1|       0.0|      0.0|       1|        5501|              3.59|2E932BA7AB9B5BC60...|2017-09-01 07:06:00|
|         295|2017-09-01 07:00:00|      24|POS0024:977032391|          2|      2.99|     2.99|       1|        5098|              3.59|2E932BA7AB9B5BC60...|2017-09-01 07:06:00|
|         295|2017-09-01 07:00:00|      24|POS0024:977032391|          3|       0.0|      0.0|       1|        3787|              3.59|2E932BA7AB9B5BC60...|2017-09-01 07:06:00|
|         295|2017-09-01 07:00:00|      26|POS0026:514614049|          1|      3.33|     3.33|       1|        5125|              3.99|05BAE9C58C7BC1E3C...|2017-09-01 07:09:00|
|         295|2017-09-01 07:00:00|      26|POS0026:514614049|          2|       0.0|      0.0|       1|        5501|              3.99|05BAE9C58C7BC1E3C...|2017-09-01 07:09:00|
|         295|2017-09-01 07:00:00|      26|POS0026:514614049|          3|       0.0|      0.0|       1|        3545|              3.99|05BAE9C58C7BC1E3C...|2017-09-01 07:09:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          1|       0.0|      0.0|       1|        5501|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          1|       0.0|      0.0|       1|        5501|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          1|       0.0|      0.0|       1|        3718|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          1|      -0.4|     -0.4|       1|        5430|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          1|       0.0|      0.0|       1|        3718|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          1|      -0.4|     -0.4|       1|        5430|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643137|          1|       0.0|      0.0|       1|        3495|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          1|       0.0|      0.0|       1|        5501|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          1|       0.0|      0.0|       1|        3718|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          1|      -0.4|     -0.4|       1|        5430|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643137|          1|       0.0|      0.0|       1|        3495|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643137|          1|       0.0|      0.0|       1|        3495|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643137|          2|      1.83|     1.83|       1|        5090|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          2|      0.25|     0.25|       1|        2661|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          2|      0.25|     0.25|       1|        2661|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          2|      0.25|     0.25|       1|        2661|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          2|       0.0|      0.0|       1|        5501|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          2|       0.0|      0.0|       1|        3477|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          2|       0.0|      0.0|       1|        3477|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          2|       0.0|      0.0|       1|        3477|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643137|          2|      1.83|     1.83|       1|        5090|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          2|       0.0|      0.0|       1|        5501|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643137|          2|      1.83|     1.83|       1|        5090|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          2|       0.0|      0.0|       1|        5501|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          3|      0.74|     0.74|       1|        5500|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          3|      3.16|     3.16|       1|        5441|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          3|      3.16|     3.16|       1|        5441|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          3|       0.0|      0.0|       1|        5501|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          3|      0.74|     0.74|       1|        5500|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          3|       0.0|      0.0|       1|        5501|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643139|          3|      3.16|     3.16|       1|        5441|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          3|       0.0|      0.0|       1|        5501|              3.79|432B9A6FA1ACD3842...|2017-09-01 07:29:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643140|          3|      0.74|     0.74|       1|        5500|              2.19|14576C7A457B21DDF...|2017-09-01 07:23:00|
|         295|2017-09-01 07:15:00|       2|POS0002:595643138|          4|      3.16|     3.16|       1|        5441|              3.79|8E2DDAE2BE00200D9...|2017-09-01 07:27:00|
+------------+-------------------+--------+-----------------+-----------+----------+---------+--------+------------+------------------+--------------------+-------------------+
only showing top 100 rows

## 9.4.- Save joined basket data to disk

In [114]:
df_joined_basket1.repartition(1).write.format('com.databricks.spark.csv').save('joined_basket1.csv', header = 'true')

In [115]:
df_joined_basket1.count()

5837615