# McDonald's Joined Basket Analysis - v2 all card tokens
## April 2018
### Dr Jose M Albornoz

This notebook analyses joined basket data using all card tokens to examine i) unmatched transactions; ii) multiple payments between succesive baskets

# 1.- Import necessary modules, define SQLContext

In [1]:
# Import required modules
from pyspark.context import SparkContext
from pyspark.sql.context import SQLContext
from pyspark.sql.functions import *
from pyspark.sql.functions import col
from pyspark.sql.functions import row_number
from pyspark.sql.types import *
from pyspark.sql.functions import unix_timestamp
import math
from pyspark.sql.window import *
import pandas as pd

In [2]:
# Define SQLContext
sqlContext = SQLContext(sc)

# 2.- Generic functions to load data from a text-based file

In [3]:
# a function to load a colon-separated value file
def load_data_colon(filename, schema, columns = None):
    df = sqlContext.read.format('com.databricks.spark.csv').option("delimiter", ";").options(header='true'). \
    load(filename, schema = schema)
    if columns is None:
        # If no columns are given, then select all
        columns = schema.names
    return df.select(columns)

In [4]:
# a function to load a pipe-separated value file
def load_data_pipe(filename, schema, columns = None):
    df = sqlContext.read.format('com.databricks.spark.csv').option("delimiter", "|").options(header='false'). \
    load(filename, schema = schema)
    if columns is None:
        # If no columns are given, then select all
        columns = schema.names
    return df.select(columns)

In [5]:
# a function to load a comma-separated value file
def load_data_comma(filename, schema, columns = None):
    df = sqlContext.read.format('com.databricks.spark.csv').option("delimiter", ",").options(header='true'). \
    load(filename, schema = schema)
    if columns is None:
        # If no columns are given, then select all
        columns = schema.names
    return df.select(columns)

# 3.- Schema for joined basket file

In [6]:
schema_basket = StructType([ 
    StructField('store_number', IntegerType(), True), 
    StructField('timestamp_basket', TimestampType(), True), 
    StructField('pos_code', IntegerType(), True), 
    StructField('pos_id', StringType(), True), 
    StructField('sale_number', IntegerType(), True),
    StructField('total_cost', FloatType(), True),
    StructField('unit_cost', FloatType(), True),
    StructField('quantity', IntegerType(), True), 
    StructField('menu_item_id', IntegerType(), True), 
    StructField('transaction_amount', FloatType(), True), 
    StructField('pan_token', StringType(), True), 
    StructField('timestamp_cards', TimestampType(), True)
])

# 4.- Load joined basket data

In [7]:
df_basket = load_data_comma("joined_basket_reading_all_tokens.csv/part-00000-e68b3079-c1d0-427a-b29e-80eb1114b0a4-c000.csv", \
                           schema_basket)

In [10]:
df_basket = df_basket.select('store_number', 'timestamp_basket', 'pos_code', 'pos_id', 'sale_number', 'pan_token', \
                             'timestamp_cards', 'total_cost').orderBy('store_number', 'pos_code', 'pos_id', \
                                                                      'sale_number')

In [11]:
df_basket.show(20)

+------------+-------------------+--------+-----------------+-----------+--------------------+-------------------+----------+
|store_number|   timestamp_basket|pos_code|           pos_id|sale_number|           pan_token|    timestamp_cards|total_cost|
+------------+-------------------+--------+-----------------+-----------+--------------------+-------------------+----------+
|         102|2017-09-01 00:00:51|       1|POS0001:216437503|          1|CC2919271D518CE2B...|2017-09-01 00:01:00|       0.0|
|         102|2017-09-01 00:00:51|       1|POS0001:216437503|          2|CC2919271D518CE2B...|2017-09-01 00:01:00|      0.91|
|         102|2017-09-01 00:00:51|       1|POS0001:216437503|          3|CC2919271D518CE2B...|2017-09-01 00:01:00|       0.0|
|         102|2017-09-01 00:00:51|       1|POS0001:216437503|          4|CC2919271D518CE2B...|2017-09-01 00:01:00|      3.33|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|          1|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|      -0.8|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|          2|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|      4.43|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|          3|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|       0.0|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|          4|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|      0.82|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|          5|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|      1.24|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|          6|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|       0.0|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|          7|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|       0.0|
|         102|2017-09-01 00:07:28|       1|POS0001:216437511|          1|CA03E173868FFB0F5...|2017-09-01 00:08:00|      1.24|
|         102|2017-09-01 00:07:28|       1|POS0001:216437511|          1|F8FD3E6E72ECDF9D6...|2017-09-01 00:08:00|      1.24|
|         102|2017-09-01 00:07:28|       1|POS0001:216437511|          2|F8FD3E6E72ECDF9D6...|2017-09-01 00:08:00|      1.24|
|         102|2017-09-01 00:07:28|       1|POS0001:216437511|          2|CA03E173868FFB0F5...|2017-09-01 00:08:00|      1.24|
|         102|2017-09-01 00:08:34|       1|POS0001:216437512|          1|                null|               null|      1.16|
|         102|2017-09-01 00:08:34|       1|POS0001:216437512|          2|                null|               null|      1.16|
|         102|2017-09-01 00:08:34|       1|POS0001:216437512|          3|                null|               null|      1.24|
|         102|2017-09-01 00:10:50|       1|POS0001:216437513|          1|D34051D8DACF1DFB6...|2017-09-01 00:11:00|      1.16|
|         102|2017-09-01 00:10:50|       1|POS0001:216437513|          1|820B52BFA23284825...|2017-09-01 00:11:00|      1.16|
+------------+-------------------+--------+-----------------+-----------+--------------------+-------------------+----------+
only showing top 20 rows

In [12]:
df_basket.count()

1732243

# 5.- Compute aggregated basket

In [13]:
df_basket_aggregated = df_basket.groupBy("store_number", "timestamp_basket", "pos_code", "pos_id", \
                                         "pan_token", "timestamp_cards").\
                                 agg(sum("total_cost").alias("total_cost")). \
                                                                         orderBy("store_number", \
                                                                                 "pos_code", "pos_id", \
                                                                                 "timestamp_basket")

In [14]:
df_basket_aggregated.show(10)

+------------+-------------------+--------+-----------------+--------------------+-------------------+------------------+
|store_number|   timestamp_basket|pos_code|           pos_id|           pan_token|    timestamp_cards|        total_cost|
+------------+-------------------+--------+-----------------+--------------------+-------------------+------------------+
|         102|2017-09-01 00:00:51|       1|POS0001:216437503|CC2919271D518CE2B...|2017-09-01 00:01:00| 4.239999949932098|
|         102|2017-09-01 00:01:40|       1|POS0001:216437504|9DCFC4FE00D7565E7...|2017-09-01 00:02:00|  5.68999981880188|
|         102|2017-09-01 00:07:28|       1|POS0001:216437511|F8FD3E6E72ECDF9D6...|2017-09-01 00:08:00|2.4800000190734863|
|         102|2017-09-01 00:07:28|       1|POS0001:216437511|CA03E173868FFB0F5...|2017-09-01 00:08:00|2.4800000190734863|
|         102|2017-09-01 00:08:34|       1|POS0001:216437512|                null|               null| 3.559999942779541|
|         102|2017-09-01 00:10:50|       1|POS0001:216437513|D34051D8DACF1DFB6...|2017-09-01 00:11:00| 4.889999985694885|
|         102|2017-09-01 00:10:50|       1|POS0001:216437513|820B52BFA23284825...|2017-09-01 00:11:00| 4.889999985694885|
|         102|2017-09-01 00:11:14|       1|POS0001:216437514|1F3A3D6A9B05A6DCD...|2017-09-01 00:12:00|3.7399999499320984|
|         102|2017-09-01 00:12:16|       1|POS0001:216437516|                null|               null|3.3199999928474426|
|         102|2017-09-01 00:14:50|       1|POS0001:216437517|2742D137D0DDA803F...|2017-09-01 00:16:00| 2.899999976158142|
+------------+-------------------+--------+-----------------+--------------------+-------------------+------------------+
only showing top 10 rows

In [15]:
df_basket_aggregated.count()

371702

# 6.- Count of unmatched baskets

In [16]:
df_unmatched = df_basket_aggregated.where(col('pan_token').isNull())

In [17]:
df_unmatched.show(10)

+------------+-------------------+--------+-----------------+---------+---------------+------------------+
|store_number|   timestamp_basket|pos_code|           pos_id|pan_token|timestamp_cards|        total_cost|
+------------+-------------------+--------+-----------------+---------+---------------+------------------+
|         102|2017-09-01 00:08:34|       1|POS0001:216437512|     null|           null| 3.559999942779541|
|         102|2017-09-01 00:12:16|       1|POS0001:216437516|     null|           null|3.3199999928474426|
|         102|2017-09-01 00:36:16|       1|POS0001:216437530|     null|           null|3.7200000286102295|
|         102|2017-09-01 00:52:39|       1|POS0001:216437538|     null|           null| 4.750000059604645|
|         102|2017-09-01 01:02:22|       1|POS0001:216437545|     null|           null| 4.070000112056732|
|         102|2017-09-01 01:47:04|       1|POS0001:216437575|     null|           null| 2.990000069141388|
|         102|2017-09-01 02:03:28|       1|POS0001:216437583|     null|           null| 2.490000009536743|
|         102|2017-09-13 00:09:42|       1|POS0001:216437598|     null|           null|3.3199999928474426|
|         102|2017-09-13 00:14:03|       1|POS0001:216437606|     null|           null|3.2500000596046448|
|         102|2017-09-13 00:30:15|       1|POS0001:216437621|     null|           null| 5.319999933242798|
+------------+-------------------+--------+-----------------+---------+---------------+------------------+
only showing top 10 rows

## 6.1.- Are there any repeated pos_ids in the unmatched baskets?

In [23]:
len([i.pos_id for i in df_unmatched.select('pos_id').distinct().collect()])

51067

In [24]:
df_unmatched.count()

51067

# 7.- Count of multiple payments between transactions

In [19]:
df_basket_multiple_payments = df_basket_aggregated.groupBy('pos_id').count()

In [20]:
df_basket_multiple_payments.show(10)

+-----------------+-----+
|           pos_id|count|
+-----------------+-----+
|POS0001:216439381|    1|
|POS0001:216439620|    1|
|POS0001:216439677|    2|
|POS0001:216439714|    1|
|POS0001:216439730|    1|
|POS0001:216439756|    1|
|POS0001:216442041|    1|
|POS0001:216442906|    2|
|POS0002:563011450|    2|
|POS0002:563011646|    1|
+-----------------+-----+
only showing top 10 rows

In [21]:
df_basket_multiple_payments.count()

178274

In [22]:
df_basket_multiple_payments.where(df_basket_multiple_payments['count'] != 1).count()

45223

# 8.- Convert to Pandas

In [25]:
pdf_basket = df_basket.toPandas()

In [26]:
pdf_basket.head(50)

,store_number,timestamp_basket,pos_code,pos_id,sale_number,pan_token,timestamp_cards,total_cost
0,102,2017-09-01 00:00:51,1,POS0001:216437503,1,CC2919271D518CE2B36A278F42A66B95E4A5293502AAC7...,2017-09-01 00:01:00,0.00
1,102,2017-09-01 00:00:51,1,POS0001:216437503,2,CC2919271D518CE2B36A278F42A66B95E4A5293502AAC7...,2017-09-01 00:01:00,0.91
2,102,2017-09-01 00:00:51,1,POS0001:216437503,3,CC2919271D518CE2B36A278F42A66B95E4A5293502AAC7...,2017-09-01 00:01:00,0.00
3,102,2017-09-01 00:00:51,1,POS0001:216437503,4,CC2919271D518CE2B36A278F42A66B95E4A5293502AAC7...,2017-09-01 00:01:00,3.33
4,102,2017-09-01 00:01:40,1,POS0001:216437504,1,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,-0.80
5,102,2017-09-01 00:01:40,1,POS0001:216437504,2,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,4.43
6,102,2017-09-01 00:01:40,1,POS0001:216437504,3,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,0.00
7,102,2017-09-01 00:01:40,1,POS0001:216437504,4,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,0.82
8,102,2017-09-01 00:01:40,1,POS0001:216437504,5,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,1.24
9,102,2017-09-01 00:01:40,1,POS0001:216437504,6,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,0.00
10,102,2017-09-01 00:01:40,1,POS0001:216437504,7,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,0.00
11,102,2017-09-01 00:07:28,1,POS0001:216437511,1,F8FD3E6E72ECDF9D6CA64E0ADF20911842138238C5D388...,2017-09-01 00:08:00,1.24
12,102,2017-09-01 00:07:28,1,POS0001:216437511,1,CA03E173868FFB0F5B130D6D0B9066FAA326B19E0F5693...,2017-09-01 00:08:00,1.24
13,102,2017-09-01 00:07:28,1,POS0001:216437511,2,F8FD3E6E72ECDF9D6CA64E0ADF20911842138238C5D388...,2017-09-01 00:08:00,1.24
14,102,2017-09-01 00:07:28,1,POS0001:216437511,2,CA03E173868FFB0F5B130D6D0B9066FAA326B19E0F5693...,2017-09-01 00:08:00,1.24
15,102,2017-09-01 00:08:34,1,POS0001:216437512,1,None,NaT,1.16
16,102,2017-09-01 00:08:34,1,POS0001:216437512,2,None,NaT,1.16
17,102,2017-09-01 00:08:34,1,POS0001:216437512,3,None,NaT,1.24
18,102,2017-09-01 00:10:50,1,POS0001:216437513,1,D34051D8DACF1DFB6057C2FD34BAAC66CAA027EB1E1EF0...,2017-09-01 00:11:00,1.16
19,102,2017-09-01 00:10:50,1,POS0001:216437513,1,820B52BFA2328482537E8115C6646D66CF273ABB9CEFFE...,2017-09-01 00:11:00,1.16
20,102,2017-09-01 00:10:50,1,POS0001:216437513,2,D34051D8DACF1DFB6057C2FD34BAAC66CAA027EB1E1EF0...,2017-09-01 00:11:00,0.00
21,102,2017-09-01 00:10:50,1,POS0001:216437513,2,820B52BFA2328482537E8115C6646D66CF273ABB9CEFFE...,2017-09-01 00:11:00,0.00
22,102,2017-09-01 00:10:50,1,POS0001:216437513,3,D34051D8DACF1DFB6057C2FD34BAAC66CAA027EB1E1EF0...,2017-09-01 00:11:00,1.16
23,102,2017-09-01 00:10:50,1,POS0001:216437513,3,820B52BFA2328482537E8115C6646D66CF273ABB9CEFFE...,2017-09-01 00:11:00,1.16
24,102,2017-09-01 00:10:50,1,POS0001:216437513,4,D34051D8DACF1DFB6057C2FD34BAAC66CAA027EB1E1EF0...,2017-09-01 00:11:00,1.24
25,102,2017-09-01 00:10:50,1,POS0001:216437513,4,820B52BFA2328482537E8115C6646D66CF273ABB9CEFFE...,2017-09-01 00:11:00,1.24
26,102,2017-09-01 00:10:50,1,POS0001:216437513,5,D34051D8DACF1DFB6057C2FD34BAAC66CAA027EB1E1EF0...,2017-09-01 00:11:00,1.33
27,102,2017-09-01 00:10:50,1,POS0001:216437513,5,820B52BFA2328482537E8115C6646D66CF273ABB9CEFFE...,2017-09-01 00:11:00,1.33
28,102,2017-09-01 00:11:14,1,POS0001:216437514,1,1F3A3D6A9B05A6DCD791E6B16ABDC1D7E0B34B79695066...,2017-09-01 00:12:00,2.83
29,102,2017-09-01 00:11:14,1,POS0001:216437514,2,1F3A3D6A9B05A6DCD791E6B16ABDC1D7E0B34B79695066...,2017-09-01 00:12:00,0.00
30,102,2017-09-01 00:11:14,1,POS0001:216437514,3,1F3A3D6A9B05A6DCD791E6B16ABDC1D7E0B34B79695066...,2017-09-01 00:12:00,0.00
31,102,2017-09-01 00:11:14,1,POS0001:216437514,4,1F3A3D6A9B05A6DCD791E6B16ABDC1D7E0B34B79695066...,2017-09-01 00:12:00,0.00
32,102,2017-09-01 00:11:14,1,POS0001:216437514,5,1F3A3D6A9B05A6DCD791E6B16ABDC1D7E0B34B79695066...,2017-09-01 00:12:00,0.91
33,102,2017-09-01 00:12:16,1,POS0001:216437516,1,None,NaT,0.00
34,102,2017-09-01 00:12:16,1,POS0001:216437516,2,None,NaT,1.16
35,102,2017-09-01 00:12:16,1,POS0001:216437516,3,None,NaT,0.83
36,102,2017-09-01 00:12:16,1,POS0001:216437516,4,None,NaT,1.33
37,102,2017-09-01 00:14:50,1,POS0001:216437517,1,B1E84F9E076CD4A57CE4607D70F80175ACF30425E2124F...,2017-09-01 00:16:00,1.24
38,102,2017-09-01 00:14:50,1,POS0001:216437517,1,2742D137D0DDA803F3D22F9D94DED129D2BFDA4104BC85...,2017-09-01 00:16:00,1.24
39,102,2017-09-01 00:14:50,1,POS0001:216437517,2,B1E84F9E076CD4A57CE4607D70F80175ACF30425E2124F...,2017-09-01 00:16:00,1.66
40,102,2017-09-01 00:14:50,1,POS0001:216437517,2,2742D137D0DDA803F3D22F9D94DED129D2BFDA4104BC85...,2017-09-01 00:16:00,1.66
41,102,2017-09-01 00:16:23,1,POS0001:216437518,1,B988574403B5ED6409C69E9C58D2106D20DF39759A37FE...,2017-09-01 00:29:00,2.48
42,102,2017-09-01 00:29:23,1,POS0001:216437526,1,78008944A1901BE0C6FD58625E8DA33E1B922165243949...,2017-09-01 00:34:00,0.00
43,102,2017-09-01 00:29:23,1,POS0001:216437526,2,78008944A1901BE0C6FD58625E8DA33E1B922165243949...,2017-09-01 00:34:00,2.49
44,102,2017-09-01 00:29:23,1,POS0001:216437526,3,78008944A1901BE0C6FD58625E8DA33E1B922165243949...,2017-09-01 00:34:00,0.00
45,102,2017-09-01 00:29:23,1,POS0001:216437526,4,78008944A1901BE0C6FD58625E8DA33E1B922165243949...,2017-09-01 00:34:00,0.82
46,102,2017-09-01 00:29:23,1,POS0001:216437526,5,78008944A1901BE0C6FD58625E8DA33E1B922165243949...,2017-09-01 00:34:00,2.93
47,102,2017-09-01 00:34:19,1,POS0001:216437527,1,B5A15BC05FA5D736DB3A4AE5C054C00FB0AD9789F46DF8...,2017-09-01 00:36:00,0.00
48,102,2017-09-01 00:34:19,1,POS0001:216437527,2,B5A15BC05FA5D736DB3A4AE5C054C00FB0AD9789F46DF8...,2017-09-01 00:36:00,0.00
49,102,2017-09-01 00:34:19,1,POS0001:216437527,3,B5A15BC05FA5D736DB3A4AE5C054C00FB0AD9789F46DF8...,2017-09-01 00:36:00,3.33

In [27]:
pdf_basket.tail(50)

,store_number,timestamp_basket,pos_code,pos_id,sale_number,pan_token,timestamp_cards,total_cost
1732193,1339,2017-09-30 20:52:41,24,POS0024:334180056,4,F449204BD064632100C703086BEB8BCE28844ECB1C7202...,2017-09-30 20:55:00,0.00
1732194,1339,2017-09-30 20:52:41,24,POS0024:334180056,4,1883FF9A5C214E0E491A59F87B908D9C03B11FF36A374C...,2017-09-30 20:59:00,0.00
1732195,1339,2017-09-30 20:52:41,24,POS0024:334180056,5,F449204BD064632100C703086BEB8BCE28844ECB1C7202...,2017-09-30 20:55:00,0.87
1732196,1339,2017-09-30 20:52:41,24,POS0024:334180056,5,1883FF9A5C214E0E491A59F87B908D9C03B11FF36A374C...,2017-09-30 20:59:00,0.87
1732197,1339,2017-09-30 20:52:41,24,POS0024:334180056,6,F449204BD064632100C703086BEB8BCE28844ECB1C7202...,2017-09-30 20:55:00,2.13
1732198,1339,2017-09-30 20:52:41,24,POS0024:334180056,6,1883FF9A5C214E0E491A59F87B908D9C03B11FF36A374C...,2017-09-30 20:59:00,2.13
1732199,1339,2017-09-30 20:52:41,24,POS0024:334180056,7,F449204BD064632100C703086BEB8BCE28844ECB1C7202...,2017-09-30 20:55:00,-0.33
1732200,1339,2017-09-30 20:52:41,24,POS0024:334180056,7,1883FF9A5C214E0E491A59F87B908D9C03B11FF36A374C...,2017-09-30 20:59:00,-0.33
1732201,1339,2017-09-30 20:52:41,24,POS0024:334180056,8,F449204BD064632100C703086BEB8BCE28844ECB1C7202...,2017-09-30 20:55:00,1.70
1732202,1339,2017-09-30 20:52:41,24,POS0024:334180056,8,1883FF9A5C214E0E491A59F87B908D9C03B11FF36A374C...,2017-09-30 20:59:00,1.70
1732203,1339,2017-09-30 20:59:11,24,POS0024:334180058,1,7F09404996C35A1DD53A933EFB21A248E7739C3C1CA56D...,2017-09-30 21:01:00,3.96
1732204,1339,2017-09-30 20:59:11,24,POS0024:334180058,2,7F09404996C35A1DD53A933EFB21A248E7739C3C1CA56D...,2017-09-30 21:01:00,2.74
1732205,1339,2017-09-30 20:59:11,24,POS0024:334180058,3,7F09404996C35A1DD53A933EFB21A248E7739C3C1CA56D...,2017-09-30 21:01:00,0.00
1732206,1339,2017-09-30 20:59:11,24,POS0024:334180058,4,7F09404996C35A1DD53A933EFB21A248E7739C3C1CA56D...,2017-09-30 21:01:00,0.00
1732207,1339,2017-09-30 20:59:11,24,POS0024:334180058,5,7F09404996C35A1DD53A933EFB21A248E7739C3C1CA56D...,2017-09-30 21:01:00,1.66
1732208,1339,2017-09-30 20:59:11,24,POS0024:334180058,6,7F09404996C35A1DD53A933EFB21A248E7739C3C1CA56D...,2017-09-30 21:01:00,0.87
1732209,1339,2017-09-30 21:01:08,24,POS0024:334180059,1,None,NaT,0.00
1732210,1339,2017-09-30 21:01:08,24,POS0024:334180059,2,None,NaT,3.15
1732211,1339,2017-09-30 21:01:08,24,POS0024:334180059,3,None,NaT,1.01
1732212,1339,2017-09-30 21:01:08,24,POS0024:334180059,4,None,NaT,0.83
1732213,1339,2017-09-30 21:04:55,24,POS0024:334180060,1,076541804A5C03F9D85612507A992CBFCDD050AA6605EE...,2017-09-30 21:05:00,1.24
1732214,1339,2017-09-30 21:04:55,24,POS0024:334180060,2,076541804A5C03F9D85612507A992CBFCDD050AA6605EE...,2017-09-30 21:05:00,0.00
1732215,1339,2017-09-30 21:04:55,24,POS0024:334180060,3,076541804A5C03F9D85612507A992CBFCDD050AA6605EE...,2017-09-30 21:05:00,-0.52
1732216,1339,2017-09-30 21:04:55,24,POS0024:334180060,4,076541804A5C03F9D85612507A992CBFCDD050AA6605EE...,2017-09-30 21:05:00,0.87
1732217,1339,2017-09-30 21:04:55,24,POS0024:334180060,5,076541804A5C03F9D85612507A992CBFCDD050AA6605EE...,2017-09-30 21:05:00,2.87
1732218,1339,2017-09-30 21:04:55,24,POS0024:334180060,6,076541804A5C03F9D85612507A992CBFCDD050AA6605EE...,2017-09-30 21:05:00,0.00
1732219,1339,2017-09-30 21:27:43,24,POS0024:334180062,1,9F2EDFADBCB5F0620CDBDA3AD60F5DEE38BDCA87F05EA6...,2017-09-30 21:29:00,0.00
1732220,1339,2017-09-30 21:27:43,24,POS0024:334180062,2,9F2EDFADBCB5F0620CDBDA3AD60F5DEE38BDCA87F05EA6...,2017-09-30 21:29:00,0.83
1732221,1339,2017-09-30 21:27:43,24,POS0024:334180062,3,9F2EDFADBCB5F0620CDBDA3AD60F5DEE38BDCA87F05EA6...,2017-09-30 21:29:00,0.00
1732222,1339,2017-09-30 21:27:43,24,POS0024:334180062,4,9F2EDFADBCB5F0620CDBDA3AD60F5DEE38BDCA87F05EA6...,2017-09-30 21:29:00,3.33
1732223,1339,2017-09-30 21:27:43,24,POS0024:334180062,5,9F2EDFADBCB5F0620CDBDA3AD60F5DEE38BDCA87F05EA6...,2017-09-30 21:29:00,0.00
1732224,1339,2017-09-30 21:27:43,24,POS0024:334180062,6,9F2EDFADBCB5F0620CDBDA3AD60F5DEE38BDCA87F05EA6...,2017-09-30 21:29:00,0.83
1732225,1339,2017-09-30 21:42:09,24,POS0024:334180063,1,9B1051155DAE5BBDB8A8D37739862ED15C9A68C348758E...,2017-09-30 21:43:00,0.83
1732226,1339,2017-09-30 21:42:09,24,POS0024:334180063,2,9B1051155DAE5BBDB8A8D37739862ED15C9A68C348758E...,2017-09-30 21:43:00,1.66
1732227,1339,2017-09-30 21:46:05,24,POS0024:334180064,1,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,-0.52
1732228,1339,2017-09-30 21:46:05,24,POS0024:334180064,2,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,1.66
1732229,1339,2017-09-30 21:46:05,24,POS0024:334180064,3,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,0.87
1732230,1339,2017-09-30 21:46:05,24,POS0024:334180064,4,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,2.96
1732231,1339,2017-09-30 21:46:05,24,POS0024:334180064,5,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,0.00
1732232,1339,2017-09-30 21:46:05,24,POS0024:334180064,6,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,0.00
1732233,1339,2017-09-30 21:46:05,24,POS0024:334180064,7,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,0.83
1732234,1339,2017-09-30 21:46:05,24,POS0024:334180064,8,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,1.66
1732235,1339,2017-09-30 22:11:27,24,POS0024:334180065,1,None,NaT,2.96
1732236,1339,2017-09-30 22:11:27,24,POS0024:334180065,2,None,NaT,0.87
1732237,1339,2017-09-30 22:11:27,24,POS0024:334180065,3,None,NaT,0.00
1732238,1339,2017-09-28 03:34:08,63,FOE0300:1066450796,1,None,NaT,0.74
1732239,1339,2017-09-29 13:15:58,63,FOE0300:171856899,1,None,NaT,1.16
1732240,1339,2017-09-29 13:15:58,63,FOE0300:171856899,2,None,NaT,2.48
1732241,1339,2017-09-29 00:04:59,63,FOE0300:3235009193,1,None,NaT,0.74
1732242,1339,2017-09-24 12:57:29,63,FOE0300:702574542,1,None,NaT,0.17

In [28]:
pdf_basket_aggregated = df_basket_aggregated.toPandas()

In [29]:
pdf_basket_aggregated.head(50)

,store_number,timestamp_basket,pos_code,pos_id,pan_token,timestamp_cards,total_cost
0,102,2017-09-01 00:00:51,1,POS0001:216437503,CC2919271D518CE2B36A278F42A66B95E4A5293502AAC7...,2017-09-01 00:01:00,4.24
1,102,2017-09-01 00:01:40,1,POS0001:216437504,9DCFC4FE00D7565E74BDE0513410B33F611CAD8F1F0196...,2017-09-01 00:02:00,5.69
2,102,2017-09-01 00:07:28,1,POS0001:216437511,F8FD3E6E72ECDF9D6CA64E0ADF20911842138238C5D388...,2017-09-01 00:08:00,2.48
3,102,2017-09-01 00:07:28,1,POS0001:216437511,CA03E173868FFB0F5B130D6D0B9066FAA326B19E0F5693...,2017-09-01 00:08:00,2.48
4,102,2017-09-01 00:08:34,1,POS0001:216437512,None,NaT,3.56
5,102,2017-09-01 00:10:50,1,POS0001:216437513,820B52BFA2328482537E8115C6646D66CF273ABB9CEFFE...,2017-09-01 00:11:00,4.89
6,102,2017-09-01 00:10:50,1,POS0001:216437513,D34051D8DACF1DFB6057C2FD34BAAC66CAA027EB1E1EF0...,2017-09-01 00:11:00,4.89
7,102,2017-09-01 00:11:14,1,POS0001:216437514,1F3A3D6A9B05A6DCD791E6B16ABDC1D7E0B34B79695066...,2017-09-01 00:12:00,3.74
8,102,2017-09-01 00:12:16,1,POS0001:216437516,None,NaT,3.32
9,102,2017-09-01 00:14:50,1,POS0001:216437517,2742D137D0DDA803F3D22F9D94DED129D2BFDA4104BC85...,2017-09-01 00:16:00,2.90
10,102,2017-09-01 00:14:50,1,POS0001:216437517,B1E84F9E076CD4A57CE4607D70F80175ACF30425E2124F...,2017-09-01 00:16:00,2.90
11,102,2017-09-01 00:16:23,1,POS0001:216437518,B988574403B5ED6409C69E9C58D2106D20DF39759A37FE...,2017-09-01 00:29:00,2.48
12,102,2017-09-01 00:29:23,1,POS0001:216437526,78008944A1901BE0C6FD58625E8DA33E1B922165243949...,2017-09-01 00:34:00,6.24
13,102,2017-09-01 00:34:19,1,POS0001:216437527,B5A15BC05FA5D736DB3A4AE5C054C00FB0AD9789F46DF8...,2017-09-01 00:36:00,3.33
14,102,2017-09-01 00:36:16,1,POS0001:216437530,None,NaT,3.72
15,102,2017-09-01 00:44:44,1,POS0001:216437534,887CAF0FE07EE937DE7A8C497D4CB22CF490EBDE908EF7...,2017-09-01 00:45:00,4.30
16,102,2017-09-01 00:44:44,1,POS0001:216437534,6AE5D2C64F9558DC8CE726B84B661A2459C2B867405A58...,2017-09-01 00:52:00,4.30
17,102,2017-09-01 00:52:39,1,POS0001:216437538,None,NaT,4.75
18,102,2017-09-01 00:58:46,1,POS0001:216437541,85ADD1A67D2629751A6E42479E9F442B10D718E14482F2...,2017-09-01 01:01:00,9.19
19,102,2017-09-01 00:58:46,1,POS0001:216437541,4F1B4EC90FAD9AD1B8067096108D6131F27DAF0346EF9C...,2017-09-01 00:59:00,9.19
20,102,2017-09-01 01:01:27,1,POS0001:216437544,DBFFCF186DDF8E8E8FD1A5FECBB1E78466FCCEF0A35B1B...,2017-09-01 01:02:00,3.33
21,102,2017-09-01 01:02:22,1,POS0001:216437545,None,NaT,4.07
22,102,2017-09-01 01:03:44,1,POS0001:216437547,480EC4A4B4EE56F828A19CBFA15E95C373147678E7C1C5...,2017-09-01 01:04:00,13.38
23,102,2017-09-01 01:05:56,1,POS0001:216437550,0215BE605618FB588298C70E957497533C2D1F424CBEAC...,2017-09-01 01:06:00,3.64
24,102,2017-09-01 01:09:48,1,POS0001:216437555,48205A37CD0AF501FA1F50C8923B750349C5B4029CB913...,2017-09-01 01:10:00,2.90
25,102,2017-09-01 01:14:34,1,POS0001:216437561,9D91170740A27B412F842D4B2F8DB9DC677D67B18C5302...,2017-09-01 01:15:00,4.08
26,102,2017-09-01 01:14:34,1,POS0001:216437561,42D76B692CC356B59EFFA6B10FB4F4F5C33C6E5AEF6F5C...,2017-09-01 01:16:00,4.08
27,102,2017-09-01 01:16:02,1,POS0001:216437562,0AFDA8B33379FD5B1C80475F0C56ADFC86548CF47841AA...,2017-09-01 01:32:00,4.05
28,102,2017-09-01 01:32:43,1,POS0001:216437570,7DEF43A846877446914CAA7B32E8B86B4316E80A2B3646...,2017-09-01 01:47:00,1.66
29,102,2017-09-01 01:47:04,1,POS0001:216437575,None,NaT,2.99
30,102,2017-09-01 01:49:42,1,POS0001:216437578,5F450172385A2C81025EBBD9DEEB69974EE08A07101B85...,2017-09-01 01:50:00,5.65
31,102,2017-09-01 02:00:51,1,POS0001:216437580,D2CEF037A0835EF7C6482BCA5B9E411D160ED14063E8B2...,2017-09-01 02:01:00,3.25
32,102,2017-09-01 02:00:51,1,POS0001:216437580,66B7F97A615A11492ECF78B0FE0AE050ECA8AF09C2AE32...,2017-09-01 02:03:00,3.25
33,102,2017-09-01 02:03:28,1,POS0001:216437583,None,NaT,2.49
34,102,2017-09-01 02:04:47,1,POS0001:216437584,F4FD46CA4F9127DCA4BB3FC21FDF0818B8298A75A97D51...,2017-09-01 02:05:00,3.88
35,102,2017-09-01 02:07:58,1,POS0001:216437585,7DEF43A846877446914CAA7B32E8B86B4316E80A2B3646...,2017-09-01 02:08:00,1.66
36,102,2017-09-01 02:07:58,1,POS0001:216437585,D41B1A3CE8D1D0F8F31CAB727ECAF668932D1A02C7D4C8...,2017-09-01 02:12:00,1.66
37,102,2017-09-01 02:12:35,1,POS0001:216437587,EB2361B3829340CE75064144482D72DB0631CB26B4D21D...,2017-09-13 00:08:00,1.33
38,102,2017-09-13 00:08:25,1,POS0001:216437595,BBC0E0690BC3FD1A9A82B4B093CAA3E18230EC74E924C9...,2017-09-13 00:09:00,1.07
39,102,2017-09-13 00:09:42,1,POS0001:216437598,None,NaT,3.32
40,102,2017-09-13 00:10:25,1,POS0001:216437600,CE3E5E3FD8C1C2E9567AECD10890AC2FB74AE103A7E470...,2017-09-13 00:11:00,4.08
41,102,2017-09-13 00:10:25,1,POS0001:216437600,7FA4B16CC8A3FFFF16C1CA3D1139C798763E0E68E55695...,2017-09-13 00:12:00,4.08
42,102,2017-09-13 00:12:35,1,POS0001:216437603,8E73AAD5885BCAE66A5A1F4C4EE4E209D4E5C9886D305B...,2017-09-13 00:14:00,1.66
43,102,2017-09-13 00:14:03,1,POS0001:216437606,None,NaT,3.25
44,102,2017-09-13 00:16:57,1,POS0001:216437609,2DBF3940D3BBE0B6CA45C4A3C1A613FC3CD19A0894E05D...,2017-09-13 00:17:00,4.49
45,102,2017-09-13 00:16:57,1,POS0001:216437609,904B4D764CCFECCE878288581187066D9C24B2CBC20182...,2017-09-13 00:20:00,4.49
46,102,2017-09-13 00:20:42,1,POS0001:216437613,088EA0E7E3D6AC11FA01208B13B9B19FC2D24C454502A9...,2017-09-13 00:21:00,4.81
47,102,2017-09-13 00:21:06,1,POS0001:216437614,B88A5B34968E69AF137120E0FC1A1636298B4B1EE19E02...,2017-09-13 00:22:00,2.57
48,102,2017-09-13 00:22:10,1,POS0001:216437615,0089D483654E4AA7413758E8BCA00318952AA1FE85102E...,2017-09-13 00:28:00,3.23
49,102,2017-09-13 00:28:13,1,POS0001:216437619,3ED76F727B0604F74FC457E4BFDFE7F6FEF0559BA13521...,2017-09-13 00:30:00,3.32

In [30]:
pdf_basket_aggregated.tail(50)

,store_number,timestamp_basket,pos_code,pos_id,pan_token,timestamp_cards,total_cost
371652,1339,2017-09-30 17:44:56,24,POS0024:334180022,E1AA50D7367349DC9D6AB56B2DD69507C8894C964EDEE1...,2017-09-30 17:47:00,16.80
371653,1339,2017-09-30 18:00:53,24,POS0024:334180023,C0AE1560C5D44C2D257754607F65782534415B284E5E04...,2017-09-30 18:04:00,10.18
371654,1339,2017-09-30 18:07:58,24,POS0024:334180024,91B8A5AD3A7E8EA199A4892C75B42964F30B8E91AC6A81...,2017-09-30 18:10:00,15.52
371655,1339,2017-09-30 18:16:25,24,POS0024:334180025,ACD432B37169C0F4B74515058F0DE2F131F7A71F0E0A2E...,2017-09-30 18:23:00,7.69
371656,1339,2017-09-30 18:16:25,24,POS0024:334180025,FDD70CC8A51CFE302863E111809E8D9D7ED3D7C528510F...,2017-09-30 18:17:00,7.69
371657,1339,2017-09-30 18:23:12,24,POS0024:334180027,None,NaT,6.82
371658,1339,2017-09-30 18:25:37,24,POS0024:334180028,3CCB15FAA4994B989D9ECE25DFA4B9E2C0563463E03C6C...,2017-09-30 18:28:00,11.82
371659,1339,2017-09-30 18:25:37,24,POS0024:334180028,3759000D80F655AF4A0EADA88726BE592E6017DED52317...,2017-09-30 18:26:00,11.82
371660,1339,2017-09-30 18:28:02,24,POS0024:334180029,C2BAE4D3A3232922C5D1F514E758678854ECD47C20DFB5...,2017-09-30 18:33:00,3.18
371661,1339,2017-09-30 18:33:25,24,POS0024:334180030,None,NaT,5.33
371662,1339,2017-09-30 18:35:34,24,POS0024:334180031,02B93959E68DCD21701B58F2A242486D44C5DBA158E107...,2017-09-30 18:37:00,5.49
371663,1339,2017-09-30 18:45:35,24,POS0024:334180032,C6922C91E37FAEC3A699B189A9FD074D2906D89A00057D...,2017-09-30 18:47:00,11.98
371664,1339,2017-09-30 18:50:23,24,POS0024:334180033,397F20C439F514738F4FE589E60CFEC8704874B4BD8AD6...,2017-09-30 18:53:00,12.39
371665,1339,2017-09-30 19:00:48,24,POS0024:334180034,33207C8D522AD04D002F846E32D824A7BAB4BA5A44F475...,2017-09-30 19:02:00,11.47
371666,1339,2017-09-30 19:00:48,24,POS0024:334180034,31DE763465E9AAE7BEB2B31457760A6E5E294AB958BAD0...,2017-09-30 19:03:00,11.47
371667,1339,2017-09-30 19:03:10,24,POS0024:334180035,None,NaT,3.33
371668,1339,2017-09-30 19:05:19,24,POS0024:334180036,A2317D4CE8DA68E2B8C0B33706154C8E7B3FF98CFCF6E9...,2017-09-30 19:06:00,7.73
371669,1339,2017-09-30 19:05:19,24,POS0024:334180036,50EEAEE62A69BD2D53FC0DE1EA458D21FD2D0674A60F1B...,2017-09-30 19:07:00,7.73
371670,1339,2017-09-30 19:07:27,24,POS0024:334180037,None,NaT,4.24
371671,1339,2017-09-30 19:13:58,24,POS0024:334180038,8E36A90C07E267AEA53C694421CAD063137F688F08CA7A...,2017-09-30 19:15:00,9.67
371672,1339,2017-09-30 19:17:00,24,POS0024:334180039,None,NaT,7.14
371673,1339,2017-09-30 19:19:53,24,POS0024:334180040,D8EFBED58E387B19774E808F8926701918E8876A2EC276...,2017-09-30 19:21:00,6.47
371674,1339,2017-09-30 19:22:47,24,POS0024:334180041,A494C046B2A6581DC26E4EAA6E7C7CDF20E79F731243FC...,2017-09-30 19:23:00,2.02
371675,1339,2017-09-30 19:28:51,24,POS0024:334180043,46E53F0B8E1C2409E290C411940AF348C8387FBDA27545...,2017-09-30 19:30:00,6.81
371676,1339,2017-09-30 19:31:39,24,POS0024:334180044,00E0475AF8BADB36FB4EC25C3B137316BA269F1AC767DF...,2017-09-30 19:36:00,10.44
371677,1339,2017-09-30 19:42:41,24,POS0024:334180045,ECE4FC003F078586A75ACB8EF7BBF390F6EA5F03AB1021...,2017-09-30 19:43:00,4.16
371678,1339,2017-09-30 19:48:50,24,POS0024:334180046,3309C6C7628223C3BD241B96FCA33C9E35BD3FB63A662C...,2017-09-30 19:51:00,5.30
371679,1339,2017-09-30 19:59:08,24,POS0024:334180047,795B08239B5705DB17633FCC8D9AA3E926311450AE828B...,2017-09-30 20:00:00,7.12
371680,1339,2017-09-30 20:03:06,24,POS0024:334180048,BA857F05B0B7F59330E2E6653C4A9A94A4B0F76CFBA1B0...,2017-09-30 20:08:00,5.94
371681,1339,2017-09-30 20:03:06,24,POS0024:334180048,BCD411CAD026B6F0E7EA18DBAFD214C81086CE6BA07308...,2017-09-30 20:04:00,5.94
371682,1339,2017-09-30 20:08:18,24,POS0024:334180049,None,NaT,2.57
371683,1339,2017-09-30 20:10:44,24,POS0024:334180050,C506C32B76F9DC7D7966AF378D8CBD6CEC82D2C541F047...,2017-09-30 20:14:00,25.48
371684,1339,2017-09-30 20:15:46,24,POS0024:334180051,DCB9542ADCB4073A11F2F10E5BB5E03A249ADE07CB2B4F...,2017-09-30 20:16:00,9.42
371685,1339,2017-09-30 20:18:38,24,POS0024:334180052,FBC7409045167C60F2F5248DCA42C1043EFE09EDCF07E7...,2017-09-30 20:20:00,8.56
371686,1339,2017-09-30 20:24:14,24,POS0024:334180053,00506F4723DF29A493FCC5A898CB9DE244EB1CCCE6ADF5...,2017-09-30 20:29:00,5.25
371687,1339,2017-09-30 20:41:03,24,POS0024:334180054,2F109098F7978F307D41FE1F6F6A5A4BADA466483078AF...,2017-09-30 20:42:00,2.07
371688,1339,2017-09-30 20:45:58,24,POS0024:334180055,99664DCA64B6EC01766EF117647D84CC47687ECDC3FAF1...,2017-09-30 20:47:00,5.97
371689,1339,2017-09-30 20:52:41,24,POS0024:334180056,1883FF9A5C214E0E491A59F87B908D9C03B11FF36A374C...,2017-09-30 20:59:00,7.61
371690,1339,2017-09-30 20:52:41,24,POS0024:334180056,F449204BD064632100C703086BEB8BCE28844ECB1C7202...,2017-09-30 20:55:00,7.61
371691,1339,2017-09-30 20:59:11,24,POS0024:334180058,7F09404996C35A1DD53A933EFB21A248E7739C3C1CA56D...,2017-09-30 21:01:00,9.23
371692,1339,2017-09-30 21:01:08,24,POS0024:334180059,None,NaT,4.99
371693,1339,2017-09-30 21:04:55,24,POS0024:334180060,076541804A5C03F9D85612507A992CBFCDD050AA6605EE...,2017-09-30 21:05:00,4.46
371694,1339,2017-09-30 21:27:43,24,POS0024:334180062,9F2EDFADBCB5F0620CDBDA3AD60F5DEE38BDCA87F05EA6...,2017-09-30 21:29:00,4.99
371695,1339,2017-09-30 21:42:09,24,POS0024:334180063,9B1051155DAE5BBDB8A8D37739862ED15C9A68C348758E...,2017-09-30 21:43:00,2.49
371696,1339,2017-09-30 21:46:05,24,POS0024:334180064,1CBDDA28ACA1DD1C598AE10D48B5B5E6FE7B9045ADC2D6...,2017-09-30 21:48:00,7.46
371697,1339,2017-09-30 22:11:27,24,POS0024:334180065,None,NaT,3.83
371698,1339,2017-09-28 03:34:08,63,FOE0300:1066450796,None,NaT,0.74
371699,1339,2017-09-29 13:15:58,63,FOE0300:171856899,None,NaT,3.64
371700,1339,2017-09-29 00:04:59,63,FOE0300:3235009193,None,NaT,0.74
371701,1339,2017-09-24 12:57:29,63,FOE0300:702574542,None,NaT,0.17